[2018-06-02 19:46] sw-yx opened #2 "Better markdown toc generator"
for anyone helping out, you should know that I use https://github.com/Ecotrust-Canada/markdown-toc to generate the TOC, however its 3 years out of date and generates some crappy links. we need to fork it and update it.

[2018-06-02 19:47] sw-yx opened #3 "How best to document the setup, dev, and build process?"
if I write too much I end up writing a typescript textbook. I would really like to avoid that. but sometimes there are little shitty issues when setting up and building a react+ typescript app. should I just have a separate BUILDING.md?

[2018-06-02 20:00] rssfrncs opened #4 "How to handle default props?"
Would be great to have a section detailing the different approaches to handling default props.

[2018-06-02 20:29] sw-yx commented on #4
yeah I get mixed messages from the community on this. I like to assign when destructuring, but others like to use defaultProps. want to put in a PR?

[2018-06-02 20:43] sw-yx opened #5 "Request for PR: Context"
good first PR for someone - put in some recs for how to use context with typescript

[2018-06-02 20:43] sw-yx opened #6 "Request for PR: Portals"
good first PR for someone - put in some recs for how to use portals with typescript

[2018-06-02 21:06] azdanov opened #7 "Prettier + TSLint + ESLint"
I have been playing around with this idea for some time. Why? I miss some of the plugins and functionality of eslint in typescript (ay11, import, airbnb, unicorn with some other plugins and configs.)

Here's my gist with settings: https://gist.github.com/azdanov/7e74ed6ce41536b08277f4121a4f5218

And a working repo:
https://github.com/azdanov/tslint-eslint-crats

What is important:
* [`typescript-e

[2018-06-02 21:13] tsiq-swyx commented on #7
wow... ok i would say that this is not a common usecase, but i understand why you want the eslint plugins. want to PR in a section under the Prettier + TSLint section? i dont use eslint so i can't really help unfortunately.

[2018-06-02 21:15] azdanov commented on #7
Sure thing. Will be sending one. 👍

[2018-06-03 01:36] sw-yx opened #8 "Request for PR: Writing your own index.d.ts"
I don't know this one myself.. I would love a good guide.

[2018-06-03 08:32] m8r1x commented on #8
Not sure if it's of any help but personally I've relied on [reactstrap](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/reactstrap) and [react-bootstrap](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-bootstrap) typings for guidance. I prefer reactstrap approach 🙂

**Example**
[code]

Hopefully that sheds some light on the subject.

*DISCLAIMER*: I

[2018-06-03 16:42] gyandeeps commented on #7
I had always used eslint in my projects. But recently when i started using typescript and i ended up not using any lint tool but use typescript in strict mode.
Here is my thought: https://dev.to/gyandeeps/coding-with-typescript-prettier-and---1m1

Wanted to know your thoughts. thanks

[2018-06-03 17:18] tsiq-swyx commented on #7
yeah prettier + tslint is good for most people. but @azdanov has valid reasons to add in eslint plugins for his needs. happy to include it in this cheatsheet for people who may not know it is possible.

[2018-06-03 17:19] tsiq-swyx commented on #8
thanks.. yeah well I will just put in a link to this issue and hope people jump in haha. its ridiculous this stuff isn't documented, companies use this for production!

[2018-06-03 17:19] Attrash-Islam commented on #8
This is my example: https://github.com/Attrash-Islam/infinite-autocomplete/blob/master/infinite-autocomplete.d.ts

I export all the needed public function that the developer work with with adding this file into "typings" entry in the package.json file

[2018-06-03 17:58] tsiq-swyx commented on #4
I dont use defaultProps myself but just wanted to add that the Spectrum community also suggested adding a `withDefaultProps` type HOC: https://twitter.com/code_punkt/status/1000105182565490688

Yours seem much simpler!

[2018-06-03 20:41] rssfrncs commented on #4
@Attrash-Islam go ahead with a PR buddy!

[2018-06-04 08:41] smashercosmo opened #12 "How to handle conditional rendering?"
Consider the following example:

[code]

Ideally I want typechecker to handle two things:
1. It's required to pass either prop1 or prop2, but not both of them
2. If prop1 is passed then props are of type Component1Props and if prop2 is passed then props are of type Component2Props

P. S. I'm completely new to TypeScript and I'm not sure that it's even possible)

[2018-06-04 08:54] Attrash-Islam commented on #12
I will try to check more but for a quick feedback try:

[code]

[2018-06-04 09:00] smashercosmo commented on #12
Yeah, that was the first thing that I tried. Didn't work)

[2018-06-04 09:21] Attrash-Islam commented on #12
Will try to check this in the next two hours

[2018-06-04 09:56] rssfrncs commented on #4
Have you checked out [this similar repo?](https://github.com/piotrwitek/react-redux-typescript-guide) It has an interesting approach to [default props](https://github.com/piotrwitek/react-redux-typescript-guide#--with-default-props). Whilst it is focused on Redux React apps there is a lot of overlap.

[2018-06-04 10:03] Attrash-Islam commented on #4
The way they do it is not that good since you need to update your DefaultProps interface every time you want to include additional prop (see how `initialCount: number` is duplicated).

My suggestion is using Partial type feature which gives you to extends the defaultProps whenever you want without any additional type extensions

[2018-06-04 14:59] tsiq-swyx commented on #12
this works for me...  does that fit your use case @smashercosmo

[code]

[2018-06-04 14:59] tsiq-swyx commented on #3
oh man... i dont even know anything about that.. i just do whatever stackoverflow tells me to do

[2018-06-04 15:03] #5 closed

[2018-06-04 15:15] smashercosmo commented on #12
Well, not exactly) Consider real-life example

[code]

If user passes 'to' property NavLink should be rendered, if user passes 'href' then simple anchor tag should be rendered, but passing both 'to' and 'href' should result in compilation error). So at least one of two properties (to and href) is required, but passing both of them is forbidden.

P.S. Why aren't you using React.SFC in 3rd component

[2018-06-04 15:32] tsiq-swyx commented on #12
cos i dont like React.SFC haha

hmm, so you want compile time error if both `to` and `href` are passed. this is stumping me.

[2018-06-04 15:50] Attrash-Islam commented on #12
I think that is related more to TypeScript than being related to TypeScript-React.

I was busy today.. but I'll invest some time in the next hours

[2018-06-04 17:47] jpavon commented on #12
This seems to work but it feels too much boilerplate for little gain, maybe there is a better way to do it. (Note that NavLinkProps contains 'href' so you need to omit it to work as you expect)

[code]

[2018-06-04 19:12] tsiq-swyx commented on #12
wow. i think writing a React component with a generic type like that should definitely be included in this list, i really really like it. i wonder if we can boil this example down a bit simpler though.

[2018-06-04 19:34] Attrash-Islam commented on #8
Anyone willing to take this or should I take it? :)

[2018-06-04 21:47] tsiq-swyx opened #16 "Types vs Interfaces"
[Spectrum discussion here](https://spectrum.chat/thread/b68c75e2-9160-4588-9b03-38e67b14af02) brought up the Types vs Interfaces discussion. as far as I can tell there is no real difference between them. I personally always use interfaces but i dont have a strong reason apart from I can extend them if i need to. Should we recommend one or the other? anyone have a source?

[2018-06-05 02:59] jamonholmgren commented on #16
I would always use interface for public API definitions. I usually use interface for internal types, but it’s less critical. In most cases they are functionally similar.

If you want one simple heuristic, just use interfaces everywhere. (Types can look and feel better in the case of unions though!)

Good resource here: https://medium.com/@martin_hotell/interface-vs-type-alias-in-typescript-2-7-2a8

[2018-06-05 03:08] tsiq-swyx commented on #16
ah yes i forgot to mention i already merged in a bit about that here: https://github.com/sw-yx/react-typescript-cheatsheet#types-or-interfaces

that article is doing very well in SEO, it's come up 3 separate times :)

[2018-06-05 03:08] #16 closed

[2018-06-05 05:53] Attrash-Islam commented on #8
Will take this with a PR later in the evening

[2018-06-05 06:26] Attrash-Islam opened #17 "propTypes with TypeScript"
Hi,
I'll be proposing a PR regards how propTypes are related to TypeScript tomorrow :tada:

[2018-06-05 14:43] tsiq-swyx commented on #17
hmm. i never use proptypes. i read somewhere that proptypes dont add anything since you already have typescript. curious what you think.

[2018-06-05 17:33] Attrash-Islam commented on #17
Not that correct 🙂 What goes with js developer that is importing your library in his JavaScript codebase? 😉

[2018-06-05 19:17] tsiq-swyx commented on #17
ah ok. i mainly aim to make typescript apps, not typescript libs. fair enough.

[2018-06-06 05:35] Attrash-Islam commented on #17
Yes.. I'll write about the two cases.. You're right, because I work on closed-source at my company and I'm not using them at all 👍🏻

[2018-06-06 17:30] locnguyen opened #22 "Anyone care about TS serverside?"
I have a barebones starter kit that I use to start all my API projects with. Since this is a React plus TypeScript cheatsheet I didn't want to open a PR unless people find it useful to see how they can use it on the server.

https://github.com/locnguyen/typescript-node-starter

[2018-06-06 22:18] #7 closed

[2018-06-06 22:18] #4 closed

[2018-06-07 05:41] #17 closed

[2018-06-07 07:27] Attrash-Islam commented on #22
Hi @locnguyen ,
I checked your repository but noticed that it's not related to (React + TypeScript) which this repository is all about. Sorry but I'm closing this issue and feel free to reopen if you think that this is relevant with explanation

[2018-06-08 01:42] dmisdm opened #23 "[Improvement/Addition] Extracting and composing types using $ElementProps"
Just thought i'd note something that i do, that may be useful for others.
Since TS 2.8's conditional types, its possible to extract a type parameter from another type (although maybe it was possible before but i didn't know how to do it).
This is essentially a port of flow's react utility type "ElementProps".
It allows you to extend another component easily, which assists with typing HOCs, and pro

[2018-06-08 04:30] sw-yx commented on #23
This is very interesting and very appreciated, thank you! can I just ask a clarifying question - in your `import Paper from '@material-ui/core/Paper';` example, does that work even if `Paper` is untyped?

or are you basically saying, ok, `@material-ui/core/Paper` doesn't export `Paper`'s proptypes, but that's ok, because I can just use `$ElementProps` to grab it and do manipulations like `&` and `

[2018-06-08 04:51] dmisdm commented on #23
Yeah thats about right!
Its a nice solution to when you say "I want this prop (eg paperProps) or these props to spread to this component, but not have to decide on the type (be explicit)".
The less explicit about types you are, the safer it will be (imo). Especially when there are any's flying around.

If Paper doesn't have a type because its referencing a JS file (it does though - from material-u

[2018-06-09 06:52] fi3ework opened #25 "[translation] Add a translation link"
Hi:
Thanks the great repo. I like it very much and I translated it into Chinese so more Chinese developer can read it easier, here's the [repo link](https://github.com/fi3ework/blog/tree/master/react-typescript-cheatsheet-cn), would you like to add the link somewhere so more people may see this great repo? And I'll update the translation due to your updating. 😆
Best regards.

[2018-06-09 23:08] tsiq-swyx commented on #6
closed thanks to Malcolm!

[2018-06-09 23:08] #6 closed

[2018-06-09 23:11] tsiq-swyx commented on #25
whoaaaaa. Yes! that'd be awesome!

[2018-06-13 13:01] sw-yx commented on #23
yes - am very busy this week so will come back and review this next week. thanks!

[2018-06-19 11:10] Attrash-Islam commented on #8
I'm sorry for delaying this, but I will try my best soon :pray:

[2018-06-19 18:47] tsiq-swyx commented on #8
take your time, we're all busy :)

[2018-06-20 10:01] jpavon opened #28 "Add new starter kit"
I'm maintaining this react-scripts-ts https://github.com/jpavon/react-scripts-ts, is faster than the original fork. Let me know if you want me to do a pull request to add it @sw-yx @Attrash-Islam

[2018-06-21 20:01] tsiq-swyx commented on #28
oh man this is so tricky! but i like what you're doing and want to support
it. yea i think it would be nice to tell people it exists. PR welcome.

On Wed, Jun 20, 2018 at 6:01 AM Julio Pavón <notifications@github.com>
wrote:

[2018-06-24 08:55] karfau commented on #3
I also started some research on that topic, since we are currently having a complex webpack 3 setup. So for "migration" to webpack 4 we might need to/have the chance to to it properly from scratch.
It is hard to find resources on that topic.

Maybe we can collect some resources and facts  that are up to date in this issue first.
I'd be happy to contribute to a PR that concludes that information.

[2018-06-24 17:12] tsiq-swyx commented on #3
absolutely. to be honest i start from CRA-TS or CRAP-TS so i dont have much
to say there but would love to take a PR with some basic instructions to
get discussions started. dont feel the need to write a whole book on it :p

On Sun, Jun 24, 2018 at 4:55 AM Christian Bewernitz <
notifications@github.com> wrote:

[2018-07-01 07:46] xaviergonz opened #32 "Forwarding References/createRef alternate syntax"
Rather than
[code]

this can be also used:
[code]

which is a bit shorter

[2018-07-01 08:33] Attrash-Islam commented on #32
Hi @xaviergonz ,
Thanks for your issue. Do you have the chance to send a PR :tada: ?

Thanks a lot

[2018-07-01 08:50] #28 closed

[2018-07-01 17:35] #32 closed

[2018-07-10 20:45] codepunkt commented on #12
Does this help?

[code]

[2018-07-11 16:03] tsiq-swyx commented on #12
this is verbose but very readable. didnt know you could do tests like that!

i am going to add a link to this discussion. this has been very helpful to me.

[2018-07-12 15:04] codepunkt commented on #12
You're welcome. I was lazy so i didn't name the types well 😆

[2018-07-15 03:21] sw-yx opened #37 "[Long Term Plan] Move to docusaurus"
thanks to many people's contributions the cheatsheet is starting to get long, and im starting to think about how to scale this thing. i think FB's [docusaurus](https://docusaurus.io/) is a good way to maintain readable and searchable react+typescript docs, while still allowing us to edit markdown easily.

the other big wishlist item i have is to note down the specific version features of Typescrip

[2018-07-25 09:06] lazarljubenovic opened #38 "Misleading assumption about IDE capabilities"
The "enum" part of the advanced section mentions the following:

This is quite possible with WebStorm. Given

[code]

and hitting <kbd>Ctrl</kbd> + <kbd>Space</kbd>, you'll get a list of `"a"` and `"b"` which you can choose from. For longer strings, you'll also get suggestions as you start typing them (including the camelCase autocompletion, etc.)

The autocompletion capabilities should generally

[2018-07-25 10:00] Attrash-Islam commented on #38
VSCode also support union strings autocomplete. Thanks for contribution!
Can you send a PR til @sw-yx review this? :tada:

[2018-07-25 19:36] sw-yx commented on #38
happy to take a PR. can also just delete the mention of autocompletion

[2018-07-25 20:36] #38 closed

[2018-07-30 22:45] sw-yx opened #41 "[Idea] Add typescript version guides?"
I just added Typescript version guides to help people already using Typescript 2.x to upgrade and patch knowledge all the way to 3.0.. is this useful for people? ideas?

https://github.com/sw-yx/react-typescript-cheatsheet/#section-4-useful-patterns-by-typescript-version

[2018-09-30 09:07] janhesters opened #46 "How to assign types to components?"
I'm writing a component for React Native that shrinks or grows an image, depending on whether the keyboard is showing or not. I've already written and used in in JS. My recent project uses TypeScript. So I thought I could easly port it over. Well it turns out, I get the error message:
[code]

Here is the code for the component:

[code]

The lines
[code]
Throw the aforementioned error.

I tried fix

[2018-09-30 23:34] vhfmag commented on #46
You can solve this by adding `keyboardDidShowListener` as a field of `Logo`, as follows:

[code]

[2018-09-30 23:53] vhfmag commented on #46
Your fix was correct, the issue is that you have the `strict` flag (or the more specific `strictPropertyInitialization` flag) activated on `tsconfig.json` and didn't initialize it either inline or in a constructor. There are three ways for you to fix it:

- If what you're doing in `componentDidMount` can be moved to the constructor without breaking anything, moving it would fix the error and still

[2018-10-01 16:13] janhesters commented on #46
I tried this, but since I use `.remove()` I'll get a linting error there becuase undefined does not have that function.

This seems about right, which is why I used `componentDidMount()`.

This also has the problem that `.remove()` throws a linting error.
Therefore I chose to set `strictPropertyInitialization: true`. Thank you very much for your help, you helped me out tremendously!

[2018-10-01 17:15] vhfmag commented on #46
Happy to help! :)

[2018-10-16 02:39] dance2die opened #47 "Please add a workaround for Redux demo in Prerequisite 4"
# 🤔 What?

Redux demo in [4. (optional) Read Microsoft's TypeScript-React-Starter docs](https://github.com/sw-yx/react-typescript-cheatsheet#prerequisites) fails to work as [README](https://github.com/Microsoft/TypeScript-React-Starter/blob/master/README.md) is out of date.

1. Failure 1
[Creating a store](https://github.com/Microsoft/TypeScript-React-Starter/blob/master/README.md#creating-a-store

[2018-10-19 18:43] sw-yx commented on #47
not sure how to help 😅 youre welcome to contribute instructions

[2018-10-19 18:44] sw-yx commented on #46
glad you got helped!!!!

[2018-10-19 20:34] dance2die commented on #47
@sw-yx Sure thing 😀.
Would you want me to create issues before creating any PRs for subsequent issues?

[2018-10-21 18:56] dance2die opened #49 "Context - Provider & Consumer should be a pair"
[Context](https://github.com/sw-yx/react-typescript-cheatsheet#context) shows how to create a provider but doesn't provide a way to use the `Consumer`.

What do you think about providing a code snippet for the consumer as well?

I can do a PR for the code snippet that shows how to consume using `Consumer`

[![Edit jlqo76kxov](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesan

[2018-10-22 18:48] sw-yx commented on #49
ok but the new contexttype api is going to be released soon. lets make sure to recommend that first before the render props

[2018-10-22 18:51] sw-yx commented on #47
i decided to keep redux stuff out of the cheatsheet (https://github.com/sw-yx/react-typescript-cheatsheet/pull/48#issuecomment-431934579). we dont want to document other people's failures here.

[2018-10-28 06:05] ianschmitz opened #50 "Link to official CRA"
There is an official release of create-react-app with TypeScript support that will be available very shortly.

How do you feel about updating the docs to reference create-react-app directly instead of the wmonk/jpavon forks when the new version lands?

Also for reference: https://github.com/facebook/create-react-app/issues/5581

[2018-11-06 01:18] sw-yx commented on #50
i am fine with that. just been busy. will take a PR!

[2018-11-07 01:34] #50 closed

[2018-11-07 01:37] sw-yx commented on #50
awesome stuff. so happy CRA supports typescript. thanks for the help and review everyone

[2018-12-09 00:34] webmato opened #54 "React.FunctionComponent or React.PureComponent ?"
`React.FunctionComponent` or `React.PureComponent` in [Section 2: Getting Started / Function Components](https://github.com/sw-yx/react-typescript-cheatsheet#function-components)?

[code]
 Shouldn't be there
[code]
 instead?

[2018-12-09 01:04] webmato commented on #54
Oh, my bad. `React.FunctionComponent` is correct of course.

[2018-12-09 01:04] #54 closed

[2018-12-09 15:44] sw-yx commented on #54
still appreciate you filing the question. keep up your journey and file any other issues you find @webmato

[2018-12-14 17:12] ferdaber opened #57 "awesome advice from Ferdaber"
Hi! I'm one of the contributors/maintainers to the @react/types library in DT, and I just have some suggested changes to the docs to ensure that folks who start with TS in React has a smoother experience!

For the section on *Function Components*:
- A common pitfall is that these patterns are not supported:
[code]

This is because due to limitations in the compiler, function components cannot retu

[2018-12-14 18:54] sw-yx commented on #57
hey Ferdy! wow, thank you for maintaining @types/react and giving feedback! no PR needed, i'll incorporate your advice myself.

may i ask - how did you get started contributing to @types/react and are there any resources you recommend reading on it? (especially historical/meta articles on how @types/react has evolved, is managed, and lessons we have learned) I feel like its basically undocumented

[2018-12-14 21:59] ferdaber commented on #57
I started when TS 3.0 was in the works and `LibraryManagedAttributes` were added as a feature (I implemented it in the React types with a lot of help from existing contributors and folks from the TS team).

One of the contributors is working on creating a large breaking change (potentially) to make the types much stronger, but at the cost of potentially breaking a lot of existing code, so she is w

[2018-12-16 11:58] sw-yx opened #58 "have a typescript specific ladder? make a react-typescript ladder?"
http://www.techladder.io/?tech=typescript

[2018-12-18 14:19] ferdaber commented on #57
https://github.com/Microsoft/TypeScript/issues/28954
which is dependent on some better resolution on https://github.com/Microsoft/TypeScript/issues/14729 (or at least being able to appropriately inject a generic type parameter into JSX.Element)

[2018-12-27 12:54] azizhk commented on #57
Hi @sw-yx @ferdaber ,
I had a doubt regarding on of the pitfalls that you mention.
You mention to use `as JSX.Element` while currently the Readme mentions `React.ReactNode` as the best option.
Are there any differences between the two? Should we use `JSX.Element` where we are targetting interoperability between react and preact? Or `JSX.Element` is the generic term for all VDOM libraries and React

[2018-12-27 13:05] azizhk commented on #57
Ok, I realize `JSX.Element` does not contain `string`. So I guess `React.ReactNode` is the better option.

[2018-12-28 03:20] sw-yx commented on #57
good :)

[2019-01-04 15:37] gausie opened #61 "If your components Props interface extends another interface, defaultProps still doesn't work in TS3"

[2019-01-04 22:07] ferdaber commented on #57
A more technical explanation is that not everything that is a valid React node is not the same thing as what is returned by `React.createElement`. Regardless of what a component ends up rendering, `React.createElement` always returns an object, which is the `JSX.Element` interface, but `React.ReactNode` is the set of all possible return values of a component.

* `JSX.Element` -> Return value of `R

[2019-01-05 02:32] sw-yx commented on #57
putting that in

[2019-01-05 02:34] sw-yx commented on #61
ok what do you recommend i put in the cheatsheet?

[2019-01-06 13:12] sw-yx commented on #61
have you reported this as a bug? (is this a bug? i think it is?)

[2019-01-07 11:50] gausie commented on #61
I actually haven't reported it as a bug yet, the bug reporting process was
a bit to in-detail and I wasn't sure where to put it!

On Sun, 6 Jan 2019 at 13:12, swyx <notifications@github.com> wrote:

[2019-01-08 20:22] sw-yx commented on #61
try :) good luck

[2019-01-11 14:01] ferdaber opened #63 "[Suggestion] Extracting props of a component"
Not sure where to put it, but I have these helper types in my team's codebase to extract the props of a component:
[code]

As far as how we use them, there's a lot of places where I want to reuse some slices of props because of prop drilling, and I can either export the props type as part of the module or I use this (either way works), the advantage of using this is that a refactor of the source o

[2019-01-11 14:03] ferdaber commented on #3
At this point due to the power of Babel 7 I would just point folks to https://github.com/Microsoft/TypeScript-React-Starter. I use it for bootstrapping my teams' repos and it works quite well. The only weirdness comes from if you want to use ESLint which requires a bit of tinkering to get working with TypeScript.

[2019-01-11 14:05] ferdaber commented on #57
@sw-yx there was a weird grammatical error in my post above which is quoted, which I have corrected. Can you fix? 😅

[2019-01-11 15:34] sw-yx commented on #57
done. im also just gonna invite you to help maintain this repo if you want :)

[2019-01-11 15:34] #57 closed

[2019-01-11 15:36] sw-yx commented on #3
i actually recently removed TS react starter from my recommended list. they dont seem to be very actively maintained.

[2019-01-11 15:46] sw-yx commented on #63
ok this took me a while to understand but wow. super handy!!! i love it. i'm gonna break up the cheatsheet to a basic and an advanced section, give me a while

[2019-01-11 17:02] sw-yx commented on #63
done https://github.com/sw-yx/react-typescript-cheatsheet/blob/master/ADVANCED.md#extracting-prop-types-of-a-component

[2019-01-13 14:23] w1301625107 opened #66 "typescript 怎么在可选属性上定义默认值"
我想在可选属性上设置默认值，但是又不想在render 里给value 设默认值

[code]

我找了很多方法，Partial也不行，以下是我代码
![image](https://user-images.githubusercontent.com/29950066/51086376-304bba00-1781-11e9-8b1f-a1fd9c015906.png?s=300)
![image](https://user-images.githubusercontent.com/29950066/51086379-4194c680-1781-11e9-8b0d-80b7a5f4283e.png?s=300)
 错误如下
![image](https://user-images.githubusercontent.com/29950066/51086389-4bb6c500-1781-11

[2019-01-13 16:00] ferdaber commented on #66
@w1301625107 you need to set `AProps` to not have an optional `value` property. `AProps` is intended to be the props that the component sees *inside* itself (after defaultProps takes into effect). TypeScript will then work out what is allowed and not allowed to be in the JSX attributes after combining `AProps` and `defaultProps`.

[2019-01-13 16:01] ferdaber commented on #61
Do you have a code example for this? I would also open this as an issue in the DefinitelyTyped repo instead so the other React types maintainers can take a look.

[2019-01-13 23:20] w1301625107 commented on #66
谢谢。但是这样怎么让人知道A  是可选的参数呢
Thank you. But how does this make people know that A is an optional parameter?

[2019-01-14 00:12] ferdaber commented on #66
It doesn't. Your `AProps` interface is not your external contract for your component, it is the internal contract (what your component implements). If you want to create a type for your external contract (what consumers of your component expect) without rewriting I would do this:
[code]

[2019-01-14 02:10] w1301625107 commented on #66
i got an error,how to fix it?  @types/react
![image](https://user-images.githubusercontent.com/29950066/51094000-fcee4700-17e3-11e9-85c6-19097114c122.png)

![image](https://user-images.githubusercontent.com/29950066/51094017-2ad38b80-17e4-11e9-8d94-d987ac4b8457.png)

[2019-01-14 02:14] w1301625107 commented on #66
If I want to rewrite it, what is the step?

[2019-01-14 02:31] ferdaber commented on #66
Sorry I made a typo, it's `JSX.LibraryManagedAttributes`, it is not under the `React` namespace.

[2019-01-16 07:00] karfau commented on #66
This was very helpful.
Who thinks it is worth adding it to the defaultProps section?

[2019-01-16 16:06] sw-yx commented on #66
PR welcome @karfau

[2019-01-17 12:22] infctr opened #72 "HOC typing example seems to be no longer valid as of TS@3.2+"
![image](https://user-images.githubusercontent.com/15550153/51318365-3389c300-1a6b-11e9-9719-690257b105dc.png)

typescript@3.2.2
@types/react@16.7.20

The code from the Advanced section

[code]

[code]

[2019-01-17 12:41] ferdaber commented on #72
Yeah this is a bug in the compiler after some changes in 3.2. I'll see if I can find the issue in the TS repo.

[2019-01-17 12:42] ferdaber commented on #72
Workaround is to do `{...this.props as T} `

[2019-01-17 12:45] infctr commented on #72
@ferdaber thnx, I got really puzzled after ts update

[2019-01-17 13:14] eps1lon commented on #72
Looks like Microsoft/TypeScript#28938 with workaround described in https://github.com/Microsoft/TypeScript/issues/28938#issuecomment-450636046

[2019-01-17 13:33] ferdaber commented on #72
That's the one!

[2019-01-17 18:17] sw-yx commented on #72
anything we can do to fix in the meantime?  maybe add a link?

[2019-01-17 21:54] #72 closed

[2019-01-17 22:24] ChristianIvicevic opened #74 "Omit attribute from a type convoluted"
In the section *Omit attribute from a type* you suggest the following snippet:
[code]
This is only necessary in TypeScript versions prior to 2.8 since it includes `Excludes` which simplifies writing `Omit` as seen in previous parts of the cheat sheet:
[code]
I'd like to change that - any objections against a PR?

[2019-01-17 22:35] sw-yx commented on #74
none

[2019-01-18 07:09] karfau commented on #74
The docs even provide something to copy paste now, but argue it is not already provided because it is so simple to write...
I don't want to know how many versions of it exist...

[2019-01-18 14:27] zackkrida opened #76 "Thank you!"
Just wanted to say what a phenomenal resource this is, even for experienced TypeScript developers. Thank you!

[2019-01-18 14:30] SimpleCookie opened #77 "Extract proptypes in Typescript (interfaces)"
How can I extract the proptypes (the interface) of a component in Typescript? I Know I can access the component and get the props easily, but I want to get the types, so that I can easily generate a nice show-case for my lib components.

[2019-01-18 15:49] sw-yx commented on #76
thanks! very much think it is incomplete, theres so much to be documented/explained

[2019-01-18 21:46] sw-yx commented on #74
either of you wanna PR? feel free to reorganize a bit as well if you have an idea around how to structure it, if not i'll do it someday :)

[2019-01-18 23:48] ferdaber commented on #77
Are you asking for the `.propTypes` static property of a component, or just getting the type of the props for a component?

To get the type of what a component expects to be passed in (i.e. "external" or "apparent" props), you can use:
[code]

[2019-01-19 11:01] karfau commented on #74
The suggested version of `Omit is already present in quite some sections in the `ADVANCED.md`, I guess this way they are "self containing" but it is also quite some repetition.
If it is just about getting rid of the `Diff` and replacing it with `Exclude`, what is the "restructuring part about @sw-yx ?

[2019-01-19 19:49] ferdaber commented on #74
Fixed by 6b68bfb

[2019-01-19 19:49] #74 closed

[2019-01-20 03:59] sw-yx commented on #77
seen this? https://github.com/sw-yx/react-typescript-cheatsheet#the-types-i-need-werent-exported

also check this out: https://www.docz.site/documentation/components-api#propstable

i demo it here https://twitter.com/swyx/status/1086153419927089153

[2019-01-20 04:01] sw-yx commented on #74
structuring how/where to put these useful helper types. right now a bit unclear whether to put it in basic or advanced, and in which section. has all been done piecemeal by contributors for now. but someday we'll have to think about it from a high level readability point of view.

[2019-01-21 21:49] OliverJAsh opened #78 "`forwardRef` inside HOC"
https://gist.github.com/OliverJAsh/d2f462b03b3e6c24f5588ca7915d010e

This is quite a bit more difficult than standard `forwardRef`, since the component and component props are generic.

[2019-01-26 14:56] SimpleCookie commented on #77
I was able to retrieve the props passed down to a component, but I wanted to get the whole interface, even the props which aren't passed down. But I'll look into the things @sw-yx mentioned this week and see if it can solve my problem.  I'll also look into the code example you gave me, thank you!

[2019-01-26 14:56] #77 closed

[2019-01-29 03:15] sw-yx opened #80 "todo: extract information from these large library authors"
- https://mobile.twitter.com/ryanflorence/status/1086660270896738305
- https://mobile.twitter.com/acemarke/status/1090013151326683136

[2019-01-31 23:12] sw-yx opened #81 "extensible, React+TS cheatsheet specific Logo"
Anyone into typography/logo design wanna give a shot?

[2019-01-31 23:12] #76 closed

[2019-02-02 19:07] sw-yx opened #82 "Tooling"
a list of typescript related tooling people should check out

- [sourcegraph chrome extension](https://chrome.google.com/webstore/detail/sourcegraph/dgjhfomjieaadpoljlnidmbgkdffpack?hl=en) - hover over types in GitHub and jump to definition/references

[2019-02-05 16:24] ferdaber commented on #78
Does this work using the standard `InstanceType<typeof ComposedComponent>`? Instead of declaring `ComposedComponentInstance = Component<ComposedComponentProps>`?

[2019-02-06 01:36] sw-yx commented on #82
this will be the next cheatsheet

[2019-02-07 22:55] richardbmx commented on #81
@sw-yx  Hi, my name is Richard. I'm a graphic designer and I love making contributions for open source projects. I see that they want a new logo for your application. If you wish, I can do it for you without any problem ... I can present some modern ideas that would improve the appearance and image of your project

[2019-02-08 21:33] sw-yx commented on #81
Hey Richard!! by all means, please do! It doesnt have to be a graphic logo even.. if you have a font you really like the look of we can also go with that. totally up to you 😅 love to see what you come up with and of course you get all the credit

[2019-02-08 21:36] ferdaber commented on #78
We may need a section just on how to write HOCs, to not completely blow up the advanced section?

[2019-02-08 22:09] richardbmx commented on #81
@sw-yx  perfect I'm going to work on some ideas

[2019-02-08 22:33] richardbmx commented on #81
@sw-yx  Can you tell me the specific name of the project?

[2019-02-08 23:31] ferdaber opened #86 "Hoc example that supports default props of wrapped component"
Cc @brieb

[2019-02-09 01:48] ferdaber commented on #86
working example:
[code]

[2019-02-09 08:52] Attrash-Islam commented on #81
Pay attention to understand the context of TypeScript logo and React logo

[2019-02-09 09:08] sw-yx commented on #78
i'm open to this. either way we gotta write some stuff haha

[2019-02-10 03:24] sw-yx commented on #81
@richardbmx react-typescript-cheatsheet? the name of this project you're commenting on

[2019-02-10 18:04] richardbmx commented on #81
@sw-yx  I see that the project is a compilation or a guide to use the three components react / typescript / cheatsheet, however I do not see a specific name of the project. My question is .. will the logotype carry the name of the three components ?? or they want a specific name to identify their project in a more original way

[2019-02-11 07:48] sw-yx commented on #81
@richardbmx oh that's entirely up to you 😅 I was originally thinking just one logo for all the cheatsheets.. but having the name could be interesting. btw there won't only be three, i already have plans for a couple more...

[2019-02-11 11:24] richardbmx commented on #81
@sw-yx  Perfect is what I needed to know so I work in a complete package. I'll work on it when I have some ideas I'll present them to you here

[2019-02-11 11:37] sw-yx commented on #86
love it. will do some writing up some time this week. may need a whole cheatsheet just for HOCs, ha.

[2019-02-12 13:58] ferdaber commented on #86
Related issue opened in TS repo: https://github.com/Microsoft/TypeScript/issues/29873

[2019-02-13 10:08] adamborowski commented on #72
@ferdaber do you have any docs explaining why?

[2019-02-14 04:54] ferdaber opened #87 "FunctionComponent and ComponentClass are not compatible with LibraryManagedAttributes"
Annotating functions and classes with `FunctionComponent` and `ComponentClass` breaks `LibraryManagedAttributes` due to the static `defaultProps` property on those interfaces being set to optional.

[code]

This causes `defaultProps` to be completely ignored by `JSX.LibraryManagedAttributes`. We should probably remove it as a recommendation from the cheat sheet for now.

[2019-02-14 04:57] ferdaber commented on #87
Some more context on the issue. I even forgot about it... shame on me. https://github.com/DefinitelyTyped/DefinitelyTyped/issues/30695

[2019-02-14 06:08] sw-yx commented on #87
thanks - i’ll update accordingly. why is it considered a bad idea to have implicitly typed children? i thought that was a major benefit of using React.FC.

as a side note - i dont find myself ever using defaultProps for function components as i can assign when i destructure...

[2019-02-14 08:46] eps1lon commented on #87
1. Makes parsing a component easier: You don't have to look through the function body to know what the default props are. Even more so you don't have to care about the specific component implementation. Just scan for `defaultProps` and ignore whether it is a class, function, forwardRef etc.
2. ~tools like `react-docgen` only understand `defaultProps`~ Actually I'm not sure how good `react-docgen`

[2019-02-14 10:06] sw-yx commented on #87
i've put in something quick to reflect this info. It's not clear to me if we should just blanket advise against using React.FC altogether, that feels like a very strong recommendation that we'd have to justify just because of defaultProps. I'm open to it, but simply havent done it yet. Happy to hear your thoughts.

[2019-02-14 10:35] eps1lon commented on #87
I wouldn't do that either. I think it's perfectly fine to explain the drawbacks of

explicit annotations on function expressions:
* -no defaultProps
* +explicit type annotation (helps with some gotchas concerning return types of function components)
* -no additional statics
* -no generic props

function declarations:
* +defaultProps in ts >= 3.1
* no implicit children
* -needs explicit return type

[2019-02-14 12:58] ferdaber commented on #87
If I could rewrite react types implicit children would be removed. It causes a lot more problems and was only placed there for convenience.

[2019-02-14 17:58] sw-yx commented on #87
cool cool i'll incorporate more or less what @eps1lon suggested. makes sense

[2019-02-15 18:35] richardbmx commented on #81
@sw-yx Hello happy day ... sorry the delay was somewhat busy, here I would like to present my proposal based on expressing the concept of cheatsheet I have added at the end of the word a symbol that represents the cheatsheet and that can be used in your other projects just by adding the name of the components as the React and the TypeScript are added in this case. I hope you like it and if you wan

[2019-02-16 01:27] sw-yx commented on #81
hey richard! this looks very nice! I like the colors and the icon! but the relative weight of the title and subtitle feels abit imbalanced to me (😅 i feel bad giving this feedback because i am not a designer)

I also wonder if we can adjust the relative importance. we're used to saying "react typescript cheatsheet" now, but this reads "cheatsheet react typescript" which doesn't flow as well. i kno

[2019-02-16 01:30] sw-yx commented on #81
if it helps to have some visual inspiration to work with - here is one that @csantiago132 has worked up for just general React + TS content (not cheatsheet specific) that I do like -
![image](https://user-images.githubusercontent.com/6764957/52892445-9045cf80-3136-11e9-9d5e-a1c47e505372.png)

[2019-02-16 06:49] karfau commented on #81
"TSX" would not be easy to extend when adding more things (can you give a hint in what direction you are thinking?), as it is very specific to the combination of react and ts.
I'll try playing with the words in a way that they will still be recognized by the "target audience":
ReacTS
ReactTS
RTS
... ?
I have not checked if those " words" are already taken and it looks as if there isn't much room f

[2019-02-16 07:35] sw-yx commented on #81
haha yeah.

 i dont have much direction! no grand master plan. i dont believe that extendability should influence design that much, its just a nice to have. main thing is a very basic visual identity that we can use on talks we give (to point people here), or as a social media embed, etc.

might be worth checking out other similar repos to get inspiration...

[2019-02-18 12:27] infctr commented on #86
cleaner?

[code]

@ferdaber thanks for the valid typecast hint!

[2019-02-18 15:43] infctr commented on #86
How about using with react-redux' `connect`? Typechecking here gets tricky

[code]

[2019-02-18 15:57] infctr commented on #61
I guess it goes like

[code]

[2019-02-18 16:50] ferdaber commented on #86
If you're just wrapping something with a `connect` call you should just simplify it:
[code]

[2019-02-18 17:35] infctr commented on #86
I'm getting same error tho

[code]

[2019-02-18 19:00] infctr commented on #86
@ferdaber And besides this loses inner component's default props

[code]

Another issue, not sure how it's related, but I've ran into this playing with HOC's and default props

[code]

[2019-02-18 19:25] ferdaber commented on #86
I can play around with it, react-redux's types rely heavily on conditional types which don't get inferred very well, I'll take a look.

[2019-02-20 01:32] antman2 opened #88 "typo in Section 2: Getting Started example"
In Section 2: Getting Started > What's the difference?

[code]
Should probably be:

[code]

[2019-02-20 02:40] sw-yx commented on #88
cool, send a PR next time

[2019-02-20 02:41] #88 closed

[2019-02-20 02:49] sw-yx commented on #61
thanks for the input @infctr! does your impl of ComponentProps have any difference from the one [that ships with React](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L729)?  sorry if thats a stupid qtn, trying to be very explicit about what is being achieved by adding new helper types

[2019-02-20 10:43] infctr commented on #61
@sw-yx My point is (and that's my understanding of @gausie problem)

[code]

Extracting props with `JSX.LibraryManagedAttributes` is more in line with the old practice marking default props as optional on an interface like `interface Props extends Partial<DefaultProps> { /* ... */ }` and using it later.

Consdider this

[code]

Just thought it was worth mentioning as it was not immediately obvious

[2019-02-20 15:27] ferdaber commented on #61
That's correct. There are valid use cases for extracting both the inner props of a component, or the apparent props (with `JSX.LibraryManagedAttributes`). The built-in React types only take care of the first case.

[2019-02-20 20:34] sw-yx commented on #61
hoo boy. ok. thank you

[2019-02-21 14:21] deadcoder0904 opened #90 "[Basic] Function Component alternative"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

The function component can be reduced to

[code]

instead of

[code]

which is quite big & is weird syntactically at least in vanilla JS

[code]

Also, would love some examples in **Function Components** section of **What's the difference?** each bullet points :)

Examples would be much better on

[2019-02-21 16:22] ferdaber commented on #90
You're welcome to make a PR with those changes! I think it's a good message to send as I personally never use the `FunctionComponent` annotation. It wasn't even until I became involved in this project that I realized people were using it.

[2019-02-22 09:36] eps1lon commented on #87
@sw-yx Well looks like you're not the only one: [Deprecate defaultProps on function components](https://github.com/reactjs/rfcs/blob/createlement-rfc/text/0000-create-element-changes.md#deprecate-defaultprops-on-function-components)

[2019-02-22 12:38] sw-yx commented on #82
https://github.com/dsherret/conditional-type-checks

[2019-02-26 22:56] ferdaber opened #92 "Generic Components"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

We should probably have a short section on authoring generic components -- components that take generic prop interfaces (or even state interfaces).

[2019-02-27 10:16] eps1lon commented on #92
This should include how these work with higher-order components. As far as I know you loose generic type information when you wrap generic components. Which is somewhat obvious if you think about it. However it can be easily forgotten if you publish these components in a library.

[2019-02-27 14:24] kavoos opened #93 "State annotation inside the constructor"
##If you have to initial your state inside the constructor, is it also *recommended* to add second annotation outside the constructor? something like:

[code]

P.S. Thanks for your awesome guideline ❤️❤️❤️

[2019-02-27 14:29] kavoos commented on #93
Sorry for **ADVANCED** label, I can't remove it 😔

[2019-02-27 14:35] ferdaber commented on #93
Yes, it's a TypeScript syntax thing for you to actually "declare" all of your properties outside of your constructor, and then actually set them inside your constructor. By the way you don't need to use `this.setState` inside the constructor you can just do `this.state = { name: props.name }`

[2019-02-27 15:52] psachs21 commented on #93
Alternatively:

[code]

[2019-03-06 08:50] sw-yx commented on #93
yea @psachs21 has it best. i just wouldnt even recommend using constructor at all. cheers.

[2019-03-06 08:50] #93 closed

[2019-03-06 08:51] sw-yx commented on #92
absolutely. i just havent had time to get to this yet. feel free to take the lead if you want to, if not i'll definitely get to it in coming months

[2019-03-06 08:54] sw-yx commented on #81
i'm gonna ship a small version of @csantiago132's logo for now. still leaving room open for @richardbmx and anyone else to mock up alternative, cheatsheet specific logos we all like!

[2019-03-12 10:44] tomspeak opened #96 "[Basic] Add coc.vim to tools section"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

I would like to add https://github.com/neoclide/coc.nvim to the tools section for vim. It's insanely powerful and is on its way to replicating VSCode level of integration for Vim.

Will send a PR with this change if you're up for it.

[2019-03-15 00:38] sw-yx commented on #96
we'll be splitting this to a separate tooling cheatsheet soon: https://github.com/sw-yx/react-typescript-cheatsheet/issues/82

actually.. u wanna write it? collect all the tools

[2019-03-15 13:29] tomspeak commented on #96
Other than `coc.vim` I don't have anything else to add to the vim tooling list. It's pretty much a one-stop-shop other than syntax highlighting which is already there. The others I have used in the past on my way to finding `coc.vim`.

[2019-03-15 16:03] sw-yx commented on #96
ok sure. thanks for the suggestioN!

[2019-03-19 15:22] AlvSovereign opened #97 "Typing for Context API where Context defaultValue is `null`"
Hi there

There are times where we want the defaultValue for React's Context API to be `null`.

I've found this [solution](https://medium.com/@thehappybug/using-react-context-in-a-typescript-app-c4ef7504c858).

TLDR:

[code]

Now we can pass `null` in as a default value as our `React.createContext` argument.

[2019-03-20 15:47] sw-yx commented on #97
hi, yup i think this is understood for typescript. i'll keep this issue around to see how we can communicate this

[2019-03-21 16:19] RowiDont opened #99 "Assigning a type to a string that you are using as a react constructor"
Hard to figure out how to write this, so I'll just give an example:

**Example:**
[code]

**Error:**
[code]

It doesn't like me giving any children to `<HeaderTag>` even though I know `<h1>` etc. can obviously have string children.

I tried typing the `HeaderTag` variable but I didn't know what to type it as, because Typescript knows `headerTag` is just a string.

The solution I came up with isn't

[2019-03-21 19:08] ferdaber commented on #99
Hmm, this should work out of the box. Which version of TS and the react types are you on?

[2019-03-21 19:20] RowiDont commented on #99
typescript: 3.2.2
@types/react: 16.7.17

I can't check right now if an update will fix my problems, but will try that later today/tomorrow.

[2019-03-22 15:34] RowiDont commented on #99
I am now on:

typescript: 3.3.4000
@types/react: 16.8.8

I'm still getting this error.

[code]

If I remove the className prop, I simply get:
[code]

[2019-03-22 15:44] ferdaber commented on #99
With this entire codebase I get no errors with the same version:
[code]

Is there anything else you're leaving out? maybe a minimally-reproducible repo would help too.

[2019-03-22 19:22] RowiDont commented on #99
Okay, that's good to hear!

I'll see if I can make a small repo that has the issue.

[2019-03-26 16:38] ravihugo opened #100 "[Basic] Custom hooks recommendation idea"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

Our team uses custom hooks a lot. We are testing out the idea to return objects rather than arrays. You see, it makes sense for the generic hook functions to return arrays because it's almost always useful to grab both the state and the setState function. Also the react provided hooks don't really

[2019-03-26 17:05] ferdaber commented on #100
Did you know that you can just grab whatever you want out of an array?
[code]

[2019-03-27 17:54] RowiDont commented on #99
I cannot replicate it outside my project. Must be something about my current project that is causing this. Thanks for looking.

[2019-03-27 17:54] #99 closed

[2019-03-27 20:00] sw-yx commented on #99
ha, good to know. ifyou ever do figure out what blocked it, i'm super curious to hear!

[2019-03-27 20:02] sw-yx commented on #100
to be fair though, for returning more than 2 values i'd recommend returning an object. unfair to expect people to remember return order beyond that. (subjective opinion)

returning an object is easy tho? esp with inferred return values. could you clarify what you think we could add or change on the cheatsheet @ravihugo ?

[2019-04-05 15:23] deser opened #102 "How to describe type of props for children"
[code]

[2019-04-07 10:52] jingkeke commented on #7
2019年官方推荐是用eslint而不是tslint了吧...https://dev.to/robertcoopercode/using-eslint-and-prettier-in-a-typescript-project-53jb

[2019-04-08 04:16] sw-yx commented on #7
thanks @jingkeke - that section does need an update.

[2019-04-08 04:21] sw-yx commented on #102
this is potentially very useful for us! cc @ferdaber i wonder what problems you and Ryan Florence ran into that prevented him typing children - even if there are problems, we should definitely document them

[2019-04-09 01:03] ferdaber commented on #102
Typing children as anything but `JSX` is generally safe for TypeScript. It only becomes a problem if you try typing them as specific JSX types.

So if you say "I want my children to be an array of objects with these properties" 👍🏼, but "I want my children to be an array of JSX elements that have this component as their type/constructor" 👎🏼

[2019-04-09 01:03] ferdaber commented on #102
In the case above they are just simple interfaces, or objects, so they are able to be well-typed as children.

[2019-04-09 05:30] sw-yx commented on #102
ah ok. honestly wouldnt have been a blocker for me adopting ts in Reach UI

[2019-04-09 05:54] deser commented on #102
Hm, seems I either misunderstood smth or that is not entirely correct. By default (without any explicit typings) typescript blames that child (which is React.Node) can't have any props:
![image](https://user-images.githubusercontent.com/3010698/55776347-17fbea80-5aa5-11e9-9ad0-2107816c4300.png)

Whatever I do with explicit typing doesn't help eventually.

[2019-04-09 05:56] deser commented on #102
Maybe this is an issue with @types/react or that I have React 15.6 installed but not 16.*

[2019-04-09 13:21] ferdaber commented on #102
It's honestly a bit difficult for me to decipher what you want to achieve with the short example at the beginning of the issue. Can you elaborate on it?

[2019-04-09 14:20] ferdaber commented on #102
Yep, that's kind of what I was alluding to in my first response. TypeScript will have no problems with simple interfaces, so the implementing component will just need to wrap it in a `createElement` call. It's an unfortunate limitation :/

[2019-04-09 18:25] deser commented on #102
@ferdaber , sorry I don't quite understand what does it mean to `wrap it in a createElement call`. Could you be so kind to show an example?

Thanks

[2019-04-14 16:55] bytekeks opened #105 "[Basic] ESLint complains about missing return type in React.FunctionComponent"
Please see the following:

[code]

ESLint says: `warning: Missing return type on function`

Were the following:

[code]

Fixes the warning.

What do you think? What is the better code?

[2019-04-15 16:57] andreasgruenh opened #106 "Generic Component with forwarded ref."
Hello everyone,

today I stumbled across the following problem:

I want to build a List Component that has a generic prop <TItem>. From the outside you can pass a ref to the List, to access a scrollToItem(item: TItem). Since I want to use hooks, I need to use React.forwardRef, which does not allow to return a generic function.

This is my attempt of solving, but I feel like there could be somethin

[2019-04-15 17:23] ferdaber commented on #106
TypeScript's inability to retain free type parameters when doing higher order functional programming is unfortunate, this is really the best way to do it if you want to use `forwardRef` or any other HOC/HOF.

One workaround I use is to just not use `forwardRef` and just use the olden-days method of `innerRef` as a prop instead. The React docs say to use `useImperativeHandle` against formal refs on

[2019-04-15 18:37] eps1lon commented on #106
-- https://reactjs.org/docs/hooks-reference.html#useimperativehandle

This is more of a recommendation so that you don't leak more implementation detail than necessary. Depending on the use case it might make more sense to use the default `ref` for a host instance and some `actions` or `handle` prop for `useImperativeHandle`.

[2019-04-17 00:39] sw-yx commented on #105
hmm. it seems like eslint is too eager here. you can clearly infer the type of the component. what is your eslint setup?

[2019-04-17 23:56] sw-yx commented on #100
closing as not actionable

[2019-04-17 23:56] #100 closed

[2019-04-19 06:11] stephenkoo opened #108 "Add example of dynamic HTML tags"
Trying to find the "right" `@types/react` in the advance cheatsheet to use for dynamic HTML tag props. I'm struggling to find the right way of writing this in TS:

[code]
This produces the TS error: `JSX element type 'Element' does not have any construct or call signatures`

Based on the advanced docs, I've tried writing the `is?` type as :
- `JSX.InstrinsicElements<"h1"|"h2">`
- `React.ReactEleme

[2019-04-19 07:59] stephenkoo commented on #108
I think it has something to do with using union types:
https://github.com/Microsoft/TypeScript/issues/28806
https://github.com/Microsoft/TypeScript/issues/7294

But I'm not sure how to put it all together.

[2019-04-19 09:52] eps1lon commented on #108
Your `is` prop is optional. `undefined` is not a valid element type which is why the type checker rejects this. Mark it as non-nullable in your props and the current typings should be able to pick up that `is` is optional because of the `defaultProps`.

[2019-04-19 09:58] stephenkoo commented on #108
Ah, is that it? Thanks, @eps1lon!

[2019-04-19 09:58] #108 closed

[2019-04-24 17:42] sw-yx opened #109 "thanks and accolades"
its often helpful to remind ourselves why we do this. just gonna start collecting thanks and accolades and quotes:

- "react-typescript cheatsheet is gold, great work there" [orta](https://twitter.com/orta/status/1121097403392765952)
- https://github.com/sw-yx/react-typescript-cheatsheet/issues/76

[2019-04-26 10:46] stephenkoo commented on #109
@sw-yx your cheat sheet is my number 1 resource getting to grips with TS in React, more so than official TS docs or anything else. You and all the contributors really are the best, thanks.

[2019-04-26 10:50] stephenkoo opened #110 "[Advanced] Request for props type example: "Props: One only if the other""
**What cheatsheet is this about? (if applicable)**
Advanced cheatsheet

**What's your issue or idea?**
Your [prop type examples](https://github.com/sw-yx/react-typescript-cheatsheet/blob/master/ADVANCED.md#props-one-or-the-other-but-not-both) are awesome.

I'm keen to find an example that [answers this question here](https://stackoverflow.com/questions/55864234/how-do-i-define-a-typescript-type-fo

[2019-04-26 19:13] sw-yx commented on #81
just ordered 400 stickers for React + TS cheatsheet contributors :)

no idea how to ship these.. lol

[2019-04-26 19:53] ferdaber commented on #81
I need dis.

[2019-04-27 01:07] sw-yx commented on #110
probably try using function overloading. try it, if it doesn’t work, post what you tried.

[2019-04-28 23:06] stephenkoo commented on #110
Would it be done like this?

[code]

[2019-04-28 23:18] sw-yx commented on #110
hmm. not sure you can do truncate ?: false like that. did it work?

[2019-04-28 23:36] stephenkoo commented on #110
Let me test it first - my actual component is a bit more complex so I'll need to double-check if the above works.

[2019-04-29 11:45] karfau commented on #109
You could setup this: https://saythanks.io/ it even provides badges :)

[2019-04-30 00:43] stephenkoo commented on #110
PR (with some modifications to above code): https://github.com/sw-yx/react-typescript-cheatsheet/pull/111

[2019-05-02 02:17] sw-yx opened #112 "test issue for allcontributorsbot"
@all-contributors please add @ferdaber for review, maintenance, and content

[2019-05-02 02:24] sw-yx commented on #112
@all-contributors please add @ferdaber for review, maintenance, and content

[2019-05-02 02:29] sw-yx commented on #112
@all-contributors please add @sw-yx for ideas, review, maintenance, content, and questions

[2019-05-02 02:33] sw-yx commented on #112
@all-contributors please add @eps1lon for review, maintenance, and content
@all-contributors please add @Attrash-Islam for maintenance, and content

[2019-05-02 02:34] sw-yx commented on #112
@all-contributors please add @eps1lon for review, maintenance, and content

[2019-05-02 02:34] sw-yx commented on #112
@all-contributors please add @Attrash-Islam for maintenance, and content

[2019-05-02 02:35] sw-yx commented on #112
@all-contributors please add @Attrash-Islam for maintenance, and content

[2019-05-02 02:38] #112 closed

[2019-05-02 03:02] sw-yx commented on #110
very nice! thank you and i'm glad you figured it out! @allcontributors[bot] please add @stephenkoo for questions and examples

[2019-05-02 03:02] #110 closed

[2019-05-02 03:16] sw-yx opened #119 "⚛️Claim your React + TS Stickers!"
if you have contributed to the React + TypeScript community (including this cheatsheet), you have earned a set of these beautiful stickers!

![image](https://user-images.githubusercontent.com/6764957/57054900-7b70d680-6c65-11e9-9992-ca41e8281086.png)
![image](https://user-images.githubusercontent.com/6764957/57054904-8297e480-6c65-11e9-81f3-800332c603a3.png)
![image](https://user-images.githubuser

[2019-05-02 03:19] sw-yx commented on #109
ha TIL. but i want to keep a public record for possible future use :)

[2019-05-02 03:20] sw-yx commented on #81
contributors! get your stickers now!! https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/issues/119

[2019-05-02 03:20] #81 closed

[2019-05-02 03:21] sw-yx commented on #105
clsoing for now, feel free to reopen. i prefer the first one.

[2019-05-02 03:21] #105 closed

[2019-05-02 14:40] Grsmto commented on #87
That's great to know that React actually think about deprecating defaultProps. Could we come up with a pattern that works and does not use `defaultProps`?

[2019-05-02 16:43] sw-yx commented on #87
i mean.. destructure and assign defaults?

[code]

[2019-05-02 17:22] Grsmto commented on #87
I was thinking more of something along these lines:

[code]

[2019-05-02 17:46] ferdaber commented on #87
Default values inside parameters (and when destructured) are better understood by the compiler. It will allow you to not have to hack together the props interface. The compiler knows it will always be defined inside the implementation but optional when consumed.

[2019-05-02 19:07] Grsmto commented on #87
Right.
You would also have to define your type interface props as optional for all the ones that have a default value. Since you're not using `defaultProps` anymore.

[2019-05-02 21:02] slikts commented on #87
`{ foo = "bar" } => <div>{foo}</div>` isn't valid syntax, `({ foo = "bar" })` is, and it would also require `= {}` at the end or else the caller would need to provide an empty object to use the defaults. So:
[code]
Also, there isn't really much reason to use `FC` with TS and function components, as `.defaultProps`, `.propTypes` and `.displayName` have better alternatives, and `.contextTypes` is a

[2019-05-03 07:03] sw-yx commented on #87
yep y'all know what i mean

[2019-05-05 09:45] swashata opened #120 "[Question] Argument(Prop) and return type of regular function component declaration"
While I know I can use `React.FC` like

[code]

I would like to know the "correct" types for a regular function declaration. I have looked at the [source code](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/ee9bf2dc97503cd297058bfe8d69477bca89a4a1/types/react/index.d.ts#L504) and I think this will work?

[code]

Is there any official or conventional way to do this?

[2019-05-06 13:50] ferdaber commented on #120
I don't think there's any "conventional way," but I can show you how I usually do it that gives me the least friction nearly every time:
[code]

The reasoning behind this:
- least amount of annotations other than `Props`
- `Props` is separated so I can maintain it separately
- `Props` being an interface vs a type alias is not relevant here
- I don't destructure so that I don't have to update two p

[2019-05-07 04:38] sw-yx commented on #120
i basically never type the return value. theres just no point imo since i never return anything else than react elements.

[2019-05-07 05:07] swashata commented on #120
This is all great, thank you very much. Could you please elaborate on this a bit more please?

Specifically, from the [docs](https://www.typescriptlang.org/docs/handbook/jsx.html) I get `JSX` is built-in! So is there any difference between using `JSX.Element` and `React.ReactElement`?

[2019-05-07 13:17] ferdaber commented on #120
If you look at the React types source code, `JSX.Element` is set as an alias to `React.ReactElement<any, any, any>` so they are essentially the same.

[2019-05-07 17:12] sw-yx commented on #120
cool, closing :)

[2019-05-07 17:12] #120 closed

[2019-05-08 02:40] swashata commented on #120
Thank you so very much all :)

[2019-05-11 15:26] sw-yx commented on #109
https://twitter.com/farzad_yz/status/1127163869095452672?s=21

[2019-05-16 10:47] smashercosmo commented on #12
@codepunkt you solution can be implemented with much less code using Discriminated Unions, but still it's annoying to specify extra props to differentiate one component from another.

@jpavon solution works, but again, it's annoying to specify generic type every time

I wonder why type guards don't work

[code]
If I then use Link component like this
[code]
TypeScript doesn't raise any error

[2019-05-16 16:15] sw-yx commented on #12
fyi we've broken out the conditional rendering discussion into a bunch of different sections: https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/ADVANCED.md#typing-a-component-that-accepts-different-props

try the One or the Other method: https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/ADVANCED.md#props-one-or-the-other-but-not-both

[2019-06-03 07:39] youngjuning opened #124 "无状态组件如何增加 defaultValue"

[2019-06-03 20:27] sw-yx commented on #124
2 ways.

1. [use `defaultProps`](https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/ADVANCED.md#typescript-31)

2. just destructure:

[code]

[2019-06-03 20:27] #124 closed

[2019-06-20 21:37] Pomar81 opened #125 "[Question] Convert Object type to array of arrays with keys from this object type"
I have a task to convert object type to an array of arrays that contains strings that are keys of the source object

example:
[code]

[2019-06-21 13:03] sw-yx commented on #125
tricky! i'll have a play around

[2019-06-21 14:10] Pomar81 commented on #125
Oh sorry. I want to generate new type with tupples

[2019-06-21 15:54] ferdaber commented on #125
Mapped types only support transforming into unions or other object types, AFAIK there's no way to generate a tuple type from anything. There is a way to infer a tuple type via rest parameters but those are only available during runtime semantics (when calling a function).

[2019-06-21 15:56] Pomar81 commented on #125
I have one solution but it very expansive

[2019-06-21 15:57] Pomar81 commented on #125
type Head<T extends any[]> = T extends [any, ...any[]]
? T[0]
: never

type HasTail<T extends any[]> = T extends ([] | [any])
? false
: true

type Tail<T extends any[]> =
((...t: T) => any) extends ((_: any, ...tail: infer TT) => any)
? TT
: []

type Cast<X, Y> = X extends Y ? X: Y

type Length<T extends any[]> =
T['length']

type Prepend<E, T extends any[]> =
((head: E, ...args: T) => any) extend

[2019-06-21 16:21] ferdaber commented on #125
Ah I keep forgetting that the type system is Turing-complete now.

[2019-06-21 17:09] sw-yx commented on #125
this is out of scope for this repo. good luck tho that is some pretty wild typing.

[2019-06-21 17:09] #125 closed

[2019-06-23 06:05] hedgerh commented on #37
Yooo I just came across this.  Let's do itttt.  I could start spinning it up?

[2019-06-24 19:37] sw-yx commented on #37
this hasn't been as high of a priority since i split the single cheatsheet out to multiple. so far i've had no complaints. do you think its a priority? i personally no longer do

[2019-06-24 20:29] hedgerh commented on #37
I think the big benefit would be improved navigation.  I usually ctrl+f to find things, but when I’m looking for “refs”, for instance, I’ll have to skip through a few different results to find what I need.  Having a table of contents would help with discovering things you didn’t even know you wanted to know, as well.

I actually missed that there was an Advanced section until the other day.  I als

[2019-06-24 22:50] sw-yx commented on #37
yeah so a docusaurus + algolia setup maybe in order. well if you’d like to try an mvp i’d be happy to deploy and point people to it!

[2019-06-26 07:25] hedgerh commented on #37
Wanted to get your thoughts on organizing the docs.

There's a lot of great information in here that gets lost in the mix because it's intermingled with the material on typing the React API/common patterns.  How do you feel about isolating the React API material into a "How To Type" section?

Unfinished draft so far:

[code]

It'd be cool to be able to surface all of the non-API stuff people shoul

[2019-06-26 12:07] sw-yx commented on #37
hmm! sure. this can be useful as a broader re-examination of the structure we have right now. it wasnt quite a conscious design, it just kinda grew.

[2019-06-26 16:28] Pomar81 opened #127 "type that extends Generic class component"
React + Typescript
TS: 3.5.2
React: 16.8
@types/react: 16.8.22

Any Class component extends the next type from @types/React
type JSXElementConstructor<P> = (new (props: P) => Component<P, any>)

What type is extending any Generic class component?
ex. class Card<T extends 'div' | 'p'> extends React.Component<CardProps<T>> {...}

application:

in conditional types
transfer constructor function as pr

[2019-06-26 18:40] ferdaber commented on #127
`CardProps` itself needs to be a generic interface, then you can do:
[code]

[2019-06-26 19:15] Pomar81 commented on #127
@ferdaber Yes. Card props are Generic
But I've got an Error when I do next :
[code]

[2019-06-26 19:23] ferdaber commented on #127
Yeah unfortunately the static properties are not compatible with generic props since there's no way to carry through free type parameters, you'll have to lock in the component generic type parameter before using it.

[2019-06-27 10:21] Pomar81 commented on #127
I've create something like this
[code]

[2019-06-28 19:28] pavloko opened #128 "[Basic] React.HTMLProps doesn't work"
**What cheatsheet is this about? (if applicable)**
Basic cheatsheet

**What's your issue or idea?**
_Write here_

I'd like to propose to changing `React.HTMLProps` in favor of `React.HTMLAttributes`.

Looking at the type definitions of React, all HTML elements are defined with `DetailedHTMLProps` and it's using `HTMLAttributes` instead of `HTMLProps`.

With the following versions:
[code]

I'm seei

[2019-06-28 21:10] sw-yx commented on #128
this one is a @ferdaber one

[2019-06-29 00:23] hedgerh commented on #37
not really liking working with docusaurus, and having trouble getting it to do what I want.  Trying to get one that’ll show the main sections and subsection headings in the left sidebar, but coming up empty.

Docz is super easy to work with, but those sub-sections aren’t shown in the sidebar unless you’re on the page for that section

[2019-06-30 14:17] sw-yx commented on #37
docusaurus maintainers are pretty responsive, just reach out im sure your usecase isnt new!

even tho i help maintain docz, its kinda dead right now. would recommend docusaurus.

[2019-07-02 16:30] ivan-kleshnin opened #129 "[Question] JSX.Element vs React.ReactNode once again"
Hi. The Basic README claims that `React.ReactNode` is preferable to `JSX.Element` as a return value of a component because `JSX.Element` is a return type of `React.createElement` which is not, to put it simple, wide enough. Hovewer, when I attempt to use both to define the return type of a component, `JSX.Element` fits and `React.ReactNode` does not:

[code]

What am I doing wrong?

[2019-07-03 13:29] sw-yx opened #130 "[Basic] adapt some more FAQs from the TypeScript Error Guide"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

https://github.com/microsoft/TypeScript/issues/31983#issuecomment-507732249

[2019-07-03 13:33] sw-yx commented on #129
hmm @ferdaber is it viable to add `undefined` to ReactNode?

@ivan-kleshnin  - fine question. but for my purposes, i dont bother. i just let TS infer it since its so easy to see:

[code]

[2019-07-03 13:55] ferdaber commented on #128
`HTMLProps` uses `AllHTMLAttributes`, which is the supertype of all HTML attributes, it is used for HTML elements which you don't the specific tag name for, and so is less specific than the ones defined in `JSX.IntrinsicElements`. For example when using `HTMLProps<HTMLButtonElement>` you will be unable to type its `onChange` event handler prop, as opposed to `DetailedHTMLAttributes<ButtonHTMLAttri

[2019-07-03 13:58] ferdaber commented on #129
This specific case is not covered in the pitfalls section but is the same root cause as what is described in this section's "Minor Pitfalls" subsection: https://github.com/typescript-cheatsheets/react-typescript-cheatsheet#function-components.

You can't return anything other than a JSX expression or `null` in a function component (not applicable to `render` in class components), if you do-- you h

[2019-07-03 15:21] sw-yx commented on #129
ahh. gotcha.

[2019-07-03 15:21] #129 closed

[2019-07-03 15:27] eps1lon commented on #129
@ivan-kleshnin Could you quote the section that claims `ReactNode` should be preferred over `JSX.Element`? I couldn't really find a section that implied this. If we have such a misleading section we should change it.

[2019-07-03 15:59] sw-yx commented on #129
its the "how to type children" section https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/cc2ec67e0b36b7e838df8f2a54b4cd84df6c78cd/README.md#useful-react-prop-type-examples

its specifically for typing children, which is correct.

[2019-07-03 17:13] pavloko commented on #128
I'm sorry, I don't understand.

Could you please explain the use case for `React.HTMLProps`? Could also comment on the errors in my previous post? Could you explain when I should you `React.HTMLProps` vs `React.HTMLAttributes`?

The example I provided:

[code]

this will cause an error:

[code]

I think this case of extending default HTML elements is quite common, so maybe we could include a line

[2019-07-03 17:32] sw-yx commented on #128
i dont know where in the chain of generics the `string` is introduced, but the fix is to just narrow the `type` type...

[code]

[2019-07-03 18:03] pavloko commented on #128
Interesting, but that looks like a hack:) `type` should be part of standard HTML button attributes.

[2019-07-03 20:34] sw-yx commented on #128
it is. if the upstream stuff doesnt give us what we need, we just have to get good at problemsolving.

[2019-07-04 04:22] ferdaber commented on #128
I'm not sure what `HTMLProps` are for-- it predated my time as a maintainer of the React types, but what I do know is that when you extend host HTML elements as a component, you should always just use `JSX.IntrinsicAttributes['tagname']` or its corresponding type alias (in the case of buttons it's `React.DetailedHTMLAttributes<ButtonHTMLAttributes<HTMLButtonElement>, HTMLButtonElement>`

[2019-07-04 09:28] ivan-kleshnin commented on #129
So, to underline, for class components I can use `ReactNode` and for functional components `JSX.Element` but it's easier to omit this type as it doesn't really add to the type safety. Right?

[2019-07-04 09:34] pavloko commented on #128
@sw-yx Yes, absolutely. I was trying to say get to the root of the problem and see if we can fix it there.

@ferdaber I've noticed that in React types HTMLProps are not used anywhere internally. Do you think it's worth removing them all together?

Why do we suggest `HTMLProps` in this guide? Does it make sense to change it to `HTMLAttributes`?

[2019-07-05 14:41] sw-yx commented on #128
@pavloko i dont have a strong reason apart from its usually what type inference gives me. if `HTMLAttributes` or `JSX.IntrinsicAttributes['tagname']` is better then lets do that!!!!

[2019-07-05 14:41] sw-yx commented on #129
yeah.

[2019-07-11 21:32] sw-yx opened #132 "[Migrating] add chain react 2019 migration notes"
**What cheatsheet is this about? (if applicable)**

Migrating cheatsheet

**What's your issue or idea?**

add https://www.npmjs.com/package/js-to-ts-converter

integrate 3 step process from bit.ly/cr-typescript-slides

[2019-07-17 10:18] azizhk commented on #12
There is this amazing blog by @andrewbranch on Discriminated Unions:
https://blog.andrewbran.ch/expressive-react-component-apis-with-discriminated-unions/

Can we add this somewhere in the cheat-sheet readme. (Amazing blog, hover over variables in the snippets and see the definition)

There are a few caveats, mentioned [here](https://medium.com/@azizhk/defining-interdependent-props-in-typescript-f

[2019-07-17 14:17] ferdaber commented on #12
I was very late to this party, but the recommended way of doing conditional rendering is a generic function for function components (or generic constructors for class components), unfortunately that does mean you can't use the SFC annotation.

[2019-07-17 20:23] sw-yx commented on #12
@azizhk yup i already put it in https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/ADVANCED.md#typing-a-component-that-accepts-different-props but its a bit buried. i havent given much thought to how this section can be organized but i hope that people read every bit thoroughly and folow through on the links.

gonna consider this closed for now, open a new issue if p

[2019-07-17 20:23] #12 closed

[2019-07-17 20:26] andrewbranch commented on #12
(Thanks for the kind words, @azizhk 😄)

[2019-07-29 08:41] #127 closed

[2019-08-14 17:25] orta opened #134 "Add links to the TypeScript playground"
The TS playground will get the types for react if you include the `import React from "react"` and set the right compiler flags

[an example](https://www.typescriptlang.org/play/?noImplicitAny=false&strictNullChecks=false&strictFunctionTypes=false&strictPropertyInitialization=false&noImplicitThis=false&noImplicitReturns=false&alwaysStrict=false&esModuleInterop=true&jsx=2#code/JYWwDg9gTgLgBAJQKYEMDG

[2019-08-19 00:02] sw-yx commented on #134
Hey orta, will do

[2019-09-03 07:18] c690554125 opened #139 "[Basic] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

The section of **Class Components**, about **class properties**, I try it, but a error happend.
[code]
I improvised this problem by coding `pointer?: number`, and vscode recommends `point!: number`

here is a ts playground url: [ts example](http://www.typescriptlang.org/play/?esModuleInterop=true&

[2019-09-03 07:40] eps1lon commented on #139
Thank you for opening this issue. This is accepted in TypeScript versions before 2.7 or if you have disabled `strictPropertyInitialization` in 2.7 and later.

How one would handle this is likely very opinionated. In this example `this.pointer` is actually undefined in the first render. We should just change it to `pointer?: number; // like this`. Would appreciate it if you open a Pull Request with

[2019-09-03 07:52] c690554125 commented on #139
@eps1lon thank you! I modified tsconfig of strictPropertyInitialization, it's ok。

[2019-09-03 09:06] #139 closed

[2019-09-12 05:10] Tav0 opened #142 "[Migrating] JSDoc type check"
**What cheatsheet is this about? (if applicable)**
JSDoc

**What's your issue or idea?**

JSDoc can type check if using closure-compiler https://github.com/google/closure-compiler/wiki/Types-in-the-Closure-Type-System

[2019-09-12 05:48] eps1lon commented on #142
We should add how `@ts-check` works. It sounds like it's doing the same thing gcc is doing without having to install a second compiler.

[2019-09-16 02:08] Tatamethues opened #145 "[Question] How to avoid undefined props from styled components theme?"
I have default theme for theme types but also I have a function to replace the default theme. So the theme types are all optional.
for example,
[code]
and the code
[code]
Also, the following codes are similar to the codes above I think.
[code]
![image](https://user-images.githubusercontent.com/34636866/64931494-7b1b5580-d86b-11e9-95a1-f6584e6cfeb4.png)

[2019-09-16 02:41] sw-yx commented on #145
your styled components code and your test code dont look very similar so i dont really understand what answer you want.

there are many ways to resolve this, and it depends what you are trying to do. for example, you can supply a backup if something is undefined:

[code]

if you're saying you are very sure that it will not be undefined, then you can [assert non null:](https://stackoverflow.com/que

[2019-09-16 02:44] sw-yx commented on #142
totally. honestly i played around with it migrating the Netlify codebase to typescript and ran into a shit ton of undocumented issues. urgh.

[2019-09-16 12:40] williamluke4 commented on #145
One day we will have this https://github.com/TC39/proposal-optional-chaining

[2019-09-16 16:53] sw-yx commented on #145
should be soon!

[2019-09-17 03:33] c690554125 opened #146 "[Advanced] Optionally Props"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

The section about passing one only if the other is passed，when I only pass prop `expanded`, the example code  not work, no errors happen.

I modified it that below code did work, but I don't know if I did it right ?

[code]
![20190917113036](https://user-images.githubusercontent.com/13865568/65

[2019-09-18 15:36] #145 closed

[2019-09-22 23:27] sw-yx commented on #146
you're right, the example was not good. i fixed it here: https://www.typescriptlang.org/play/?jsx=1#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcARFDvmQNwCwAUI7hAHarwCCYYAXJlRgA6AGIBhOAF44ACgCUUgHyzGcOAB5FqtXADeAeiQwAFllRYUAG0twYATzBZcp3AGtE+gL7a16gCpYAB4wiqwQ8DBQAK6suMgwWAAm6voBwVoMOhppEdGx8ViKkTFxCcmpQSE+2ZW2eaUWQWDIrIlJGVlqxfkJALTIAEaWFgNR8E0tbYnVKTkdOgZIfgDKcFhQxFD8AArEjrB2cADk3Q1HcMDoIJeowKwA5hes

[2019-09-23 02:10] c690554125 commented on #146
@sw-yx It works well, thank you!

[2019-09-23 02:10] #146 closed

[2019-09-24 03:26] sami616 opened #147 "[Advanced] More complete anchor/button example"
About 4 months ago i **REALLY** struggled with typing a component that not only conditionally rendered an anchor/button based on if a `href` prop was passed, but also invalidated any button specific props if the same condition was met (and visa versa)

I asked around stack overflow and discord for a while with no luck. Thanks to this amazing resource i managed to figure it out.  In the light of de

[2019-09-24 17:38] #147 closed

[2019-10-01 12:12] azizhk opened #150 "[Basic] getDerivedStateFromProps"
**What cheatsheet is this about? (if applicable)**
getDerivedStateFromProps

Well I'm just here to validate some practices around using `getDerivedStateFromProps` with the pros

**What's your issue or idea?**
So how to go about typing `getDerivedStateFromProps`
1. If you have explicitly typed your derived state and want to make sure your `getDerivedStateFromProps` function returns correctly.
[code

[2019-10-01 12:13] azizhk commented on #150
And in the Advanced Category of using `getDerivedStateToProps` should include generics.

[2019-10-02 17:44] sami616 opened #151 "[Advanced] AS prop example updated to accept element specific props"
It would be awesome if the example was updated so that the accepted props changed depending on what `as` prop was passed. For example. Passing `as='button'` and then passing a `href` prop would result in a compiler error. I've been trying to figure out how to do this but not had much luck!

Here's an incomplete attempt: https://stackoverflow.com/questions/58200824/generic-react-typescript-componen

[2019-10-02 19:35] sw-yx commented on #150
i think this is brilliant! no issues i see, did you want to also PR this in?

[2019-10-02 20:17] azizhk commented on #150
Yup I'll give a PR.

[2019-10-07 01:08] jsjoeio commented on #134
I'd like to take this one on!

[2019-10-07 01:32] sw-yx commented on #134
all yours!

[2019-10-08 20:05] sw-yx commented on #150
yay! first merge! what do you think for the advanced stuff?

[2019-10-09 07:32] azizhk commented on #150
So I was thinking of just in-lining the example of Class Components in the [Generics section](https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/ADVANCED.md#generic-components). (Give thanks to [gist](https://gist.github.com/karol-majewski/befaf05af73c7cb3248b4e084ae5df71) & [tweet](https://twitter.com/WrocTypeScript/status/1163234064343736326))

Currently it's a lin

[2019-10-09 20:28] sw-yx commented on #150
yeah! that is probably friendlier to read. wanna PR?

[2019-10-10 07:09] azizhk commented on #150
Yup. Will give one over the weekend.

[2019-10-11 22:09] jsjoeio commented on #134
Started this today. Should have a PR open tonight or this weekend. One question for @orta

I'm getting an [error in the playground](https://www.typescriptlang.org/play/?noImplicitAny=false&strictNullChecks=false&strictFunctionTypes=false&strictPropertyInitialization=false&noImplicitThis=false&noImplicitReturns=false&alwaysStrict=false&target=5&jsx=2#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wFgAoCpAD

[2019-10-13 16:43] #134 closed

[2019-10-15 19:43] sw-yx commented on #134
great job joe!

[2019-10-24 06:31] thdk opened #159 "[HOC] Cannot find name 'Optionalize'"
**What cheatsheet is this about? (if applicable)**

HOC cheatsheet

**What's your issue or idea?**

I had a look at this hoc cheatsheet but do not know any typescript type 'Optionalize' neither could I find it in the docs.

[code]

[2019-10-29 16:06] coreybruyere opened #161 "[Basic] Add tsdx to Basic README starter or resources"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

tsdx is a simple and straight forward starter for folks who can't or don't want to set up their own TS-based library. I think this should be up in the React + Typescript Starter Kits section but it could also go down in the resources section.

https://github.com/jaredpalmer/tsdx

[2019-10-29 16:22] #161 closed, assigned to swyxio

[2019-10-29 19:04] sami616 commented on #151
@karol-majewski thanks so much. What a brilliant answer. Exactly what I needed! 👌👌👌👌

[2019-10-30 06:57] azizhk commented on #150
Added over #153 and #158.

[2019-10-30 06:57] #150 closed

[2019-10-30 08:18] azizhk commented on #92
Hi,
I think this has been added in the Advanced Readme & HOC Readme

Covers Generic Prop & State Interfaces:
https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/ADVANCED.md#generic-components

Covers Higher Order Components:
https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/HOC.md#docs-example-use-hocs-for-cross-cutting-concerns

Please

[2019-10-30 08:18] #92 closed

[2019-10-30 18:02] gnbaron commented on #159
Let me know if that's what you were expecting.

[2019-10-30 21:52] thdk commented on #159
That seems to point me in the right direction indeed!

On Wed, Oct 30, 2019 at 7:02 PM Guilherme Baron <notifications@github.com>
wrote:

--
Met vriendelijke groeten,

Thomas Dekiere

[2019-10-31 14:00] #47 closed

[2019-11-04 18:42] bryceosterhaus opened #165 "[Question] How to properly define namespaced react components?"
I typically use namespacing in my react components to group similar components. I was wondering what the best approach to defining a type here would be. I generally do something like the example below, however using `as ...` isn't ideal for me. Any other ideas how to properly type a react component that also has namespaced components?

[code]

[2019-11-04 19:36] sw-yx commented on #165
seems fine. i rarely use forwardRef :)

[2019-11-04 20:03] bryceosterhaus commented on #165
Unfortunately we have to use lots of forwardRefs since its for a component library. Reason this came up is because this sort of type declaration doesnt work well with `react-docgen`. We need to also send a fix on their end, but just wanted to make sure I wasn't missing anything on the TS side.

Thanks for your help!

[2019-11-04 21:00] sw-yx commented on #165
cc @ferdaber this seems in your wheelhouse

[2019-11-05 17:24] ferdaber commented on #165
It's a little bit annoying but what you can do is use `Object.assign`. It works for both default and non default components, but kind of messes with the components' display names (you may have to assign them manually instead of relying on `Function.prototype.name`.

[code]

[2019-11-05 17:44] bryceosterhaus commented on #165
@ferdaber thanks for the feedback! I'll give this a try and see how it looks.

[2019-11-05 18:46] ferdaber commented on #165
You can also create a helper function to do all of this:
[code]

[2019-11-05 18:51] bryceosterhaus commented on #165
Using object.assign turned out working well. It also looks pretty clean and the TS inference seems to work better than my previous implementation. Here is what it looks like now

[code]

[2019-11-05 21:26] sw-yx commented on #165
damn that looks pretty sweet! can you PR this in somewhere that fits pls @bryceosterhaus

[2019-11-05 22:30] bryceosterhaus commented on #165
https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/pull/166, let me know if you need me to add anything else.

[2019-11-05 23:57] sw-yx commented on #165
resolved! this went great i think!

[2019-11-05 23:57] #165 closed

[2019-11-09 10:53] mrtnbroder opened #167 "[Question] Conditional Rendering with forwardRef"
Hi there!

Awesome cheat-sheet, it helped me a lot! Thanks for that.

However, I'm facing an issue atm where a simple type overload isn't working for me, or I just dont know how to type it when adding a simple `forwardRef` infront of the conditional component.

[to the playground!](https://www.typescriptlang.org/play/index.html?skipLibCheck=true&target=99&jsx=2#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4B

[2019-11-26 00:57] laurosilvacom opened #168 "[Basic] Spanish translation!"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

This is such a valuable resource and React+TypeScript is growing around the world, but many programmers don’t use English as their primary language. I personally, can start translating the Basic Cheatsheet in Spanish and move on from there.

What's the best way to structure the translated file in

[2019-11-28 08:37] sw-yx commented on #168
hey Lauro! thank you so much! i dont know, maybe just make a new repo like react-typescript-cheatsheet-es so that you can move at a faster pace than me!

[2019-11-28 08:39] sw-yx commented on #168
i've set up a new repo for you and made you a maintainer! pls feel free to move fast there. https://github.com/typescript-cheatsheets/react-typescript-cheatsheet-es

[2019-11-28 08:40] sw-yx commented on #168
once you've done some basic level of translation and are happy to publicise, i'll link to you from this repo. there was a chinese translation too, but it went dormant.

[2019-11-28 08:40] laurosilvacom commented on #168
Sounds good, I'll get started! 😄

[2019-11-28 08:44] sw-yx commented on #168
thanks for volunteering!  i bet a lot of spanish speakers will benefit.

[2019-11-28 08:46] sw-yx commented on #167
hey! sorry for slow response, been busy for a bit. I'll have a look but frankly havent needed to use forwardRef much 😅 hopefully someone else can have a look (@ferdaber?)

[2019-12-05 06:26] mrtnbroder commented on #167
No worries. I got it working - yes, but I have to use a workaround with `forwardRef` prop. I was wondering if this can be achieved with `React.forwardRef<A, B>` as well.

[2019-12-05 15:07] ferdaber commented on #167
Because of how higher order functions work with functions that have overload signatures, there's not really any easy way of doing this. My best recommendation for the happy middle is to have a union of your different variants as your props for the render function, and to type the output manually:

[code]

Playground [link](https://www.typescriptlang.org/play/index.html?skipLibCheck=true&target=99&

[2019-12-30 05:49] rpivo opened #175 "[Basic] Import React "allowSyntheticDefaultImports" no longer valid"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

I think the paragraph in the doc about `--allowSyntheticDefaultImports`vs `esModuleInterop` is no longer true. See the answers to this Stack Overflow question: https://stackoverflow.com/questions/52576203/do-i-ever-need-explicit-allowsyntheticdefaultimports-if-esmoduleinterop-is-true. Also see thi

[2019-12-30 16:00] sw-yx commented on #175
thanks for the heads up!!! wow idk how you found this

 will doublecheck  with dan and remove if needed

[2019-12-30 19:36] rpivo commented on #175
Yeah, I almost decided to go with `--allowSyntheticDefaultImports`, but that Stack Overflow thread also linked to this TypeScript Github issue from August 2018, a little after the tweet from June 2018: https://github.com/microsoft/TypeScript/issues/26193

In that thread, Daniel Rosenwasser and another TypeScript contributor discuss this, and it seems like the merged PR that come from the issue mak

[2019-12-31 08:41] orta commented on #175
I wrote fresh docs for them both here BTW: https://www.typescriptlang.org/v2/en/tsconfig#allowSyntheticDefaultImports

[2019-12-31 16:10] rpivo commented on #175
Thanks -- that cleared it up for me a lot.

[2019-12-31 16:10] #175 closed

[2020-01-06 00:51] laurosilvacom commented on #168
Done ✅🎉 https://twitter.com/laurosilvacom/status/1213981860524482560

[2020-01-06 00:51] #168 closed

[2020-01-13 20:31] sw-yx commented on #168
awesome, awesome job man

[2020-01-19 15:57] snutij opened #178 "[Advanced] Docz PropsTable link is invalid"
Hi ! ✌️

What cheatsheet is this about? (if applicable)

Advanced cheatsheet

What's your issue or idea?

The link for Docz PropsTable is invalid.
It's [https://www.docz.site/documentation/components-api#propstable](https://www.docz.site/documentation/components-api#propstable)
I thinks it should be this [https://www.docz.site/docs/components-api#propstable](https://www.docz.site/docs/components-a

[2020-01-21 14:48] sw-yx commented on #178
gotcha. PR welcome, else i will get to this when im cleaning up issues

[2020-01-24 06:26] MatejBransky opened #181 "[Question] How to forward HTML elements props with forwarded ref?"
Hi,

I would like to extend HTML element with a className but I want to pass through all HTML element's props and React's ref.

Unfortunately I can't find out how to do it the proper way.

[Here is the codesandbox](https://codesandbox.io/s/refforwardingcomponent-issue-dw3xq?fontsize=14&hidenavigation=1&module=%2Fsrc%2FInput.tsx&theme=dark) with the error on the line 10.

What am I missing?

Thanks

[2020-01-24 07:22] MatejBransky commented on #181
Oh, I've found out one solution!

[code]

[2020-01-24 07:22] #181 closed

[2020-01-26 13:05] brandonxiang opened #185 "[Advanced] React Native Typescript Cheatsheet"
**What cheatsheet is this about? (if applicable)**

React Native Typescript Cheatsheet is very essential.

**What's your issue or idea?**

Create an another repo for React Native Typescript Cheatsheet

[2020-01-30 05:00] sw-yx commented on #119
too much effort to send out stickers, gonna put this on hold for now. thanks for playing :)

[2020-01-30 05:00] #119 closed

[2020-02-02 13:18] sw-yx commented on #181
thanks for pasting your answer :)

[2020-02-02 13:19] sw-yx commented on #185
yeah ok. happy to. pls help maintain it 😂 i dont use RN

[2020-02-02 13:20] sw-yx commented on #185
https://github.com/typescript-cheatsheets/react-native-typescript-cheatsheet

[2020-02-02 13:20] #185 closed

[2020-02-10 04:49] #178 closed

[2020-02-16 10:21] thisconnect opened #187 "[Basic] useRef in useEffect Object is possibly undefined"
**What cheatsheet is this about? (if applicable)**

How to use typescript and useRef

**What's your issue or idea?**
[code]

The following "works" / "typescript doesn't complain"... but is that the proper way?
[code]

[2020-02-16 10:47] thisconnect commented on #187
Typescript seems to like this one
[code]

[2020-02-16 14:59] ferdaber commented on #187
That second one is the proper usage.

On Sun, Feb 16, 2020 at 5:47 AM tcme <notifications@github.com> wrote:

[2020-02-16 16:44] thisconnect commented on #187
ok thanks I'll go with that, but technically useRef does not directly return a HTMLDivElement, is that correct?

It returns some object that has a current property that is the HTMLDivElement… Am I missing something?

[2020-02-16 16:49] thisconnect commented on #187
hmm 🤔
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/8a31a2fe9e8417d47550db09e5f9f50fd09a8e60/types/react/index.d.ts#L838

[2020-02-17 04:52] hellatan commented on #187
`useRef` is a generic so you can pass any type you want into it so that it can internally know what `.current` is supposed to be. Since you're using `null` as the initial value, I think you need to add that to your type you're declaring as well. So `useRef<HTMLDivElement>(null)` should be `useRef<HTMLDivElement | null>(null)` so typescript knows your `myRef.current` property can be `HTMLDivElement

[2020-02-18 14:49] ferdaber commented on #187
@hellatan there are overloads for `useRef` such that if you use a type param `T` vs `T | null` the resultant object is different:
[code]

With the first, the `current` property of the object is read-only to you, the consumer. It's meant to be passed into React as the pointer is maintained by React. In practice, you can still mutate the `current` property of something you pass into React but it's n

[2020-02-18 15:13] hellatan commented on #187
@ferdaber so do you mean when you don't pass in  `T | null`, typescript will complain if you try to do `myRef.current = 'some new ref'`?

[2020-02-18 15:57] ferdaber commented on #187
Correct.

[2020-02-21 09:19] thisconnect commented on #187
Good to know, it makes sense now. I was looking for readonly (but didn't know it exists) so your first example `useRef<HTMLDivElement>(null)` is exactly what I want.

[2020-02-21 09:26] thisconnect commented on #187
The 3rd example errors for me
[code]

Error
[code]

code snippet (top component no conditional render)
[code]

Maybe because I use CRA, which is a little behind
@types/react current 6.9.19, latest 16.9.21

[2020-02-21 09:55] thisconnect commented on #187
updating typescript to 3.8.2 and @types/react to 16.9.21 didn't help

[2020-02-21 15:33] ferdaber commented on #187
If you're using a ref object to pass into a `ref` prop for an element, you need to use the ` | null` overload, otherwise it will complain to you. The third form is for cases where you maintain the pointer yourself (instead of React).

[2020-02-22 08:32] thisconnect commented on #187
thanks for your explanation

[2020-02-22 17:58] Luncher opened #188 "Class Properties - context"
`context` has a special type annotation: `?:`.  Indicates that initialization is not required.

[2020-02-27 07:26] ElForastero opened #190 "React.FC vs React.FunctionComponent"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

Last year some recommendations on using FunctionComponent instead of FC were added to this cheatsheet in #104.

But seems like things have changed since then and now these two types are identical. 🤔

![image](https://user-images.githubusercontent.com/5102818/75421406-a1353d80-5953-11ea-8fa7-718468

[2020-02-27 07:28] eps1lon commented on #190
Since this cheatsheet is mostly aimed at beginners I would generally avoid abbreviations.

But that doesn't mean we should recommend one over the other. I think using `FunctionComponent` and mentioning once that this is also available as `FC` is a good compromise.

[2020-02-27 19:58] gromovadarya90 opened #191 "[spam]"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:18] #191 closed

[2020-03-02 06:54] #188 closed

[2020-03-09 22:57] RAYDENFilipp opened #196 "Typing onSubmit, with Uncontrolled components in a Form"
To have a proper typing for `event.target.value` there is a specific type called `React.ChangeEvent<T>` which under the hood is exactly what is needed:
[code]
I Hope it helps.

[2020-03-20 13:26] Miklet opened #199 "[Question] defaultProps and React.forwardRef"
Hello! At first, I want to say thank you to all for this great repository. It makes migrating to TS + React much simpler!

Here is my problem. According to [this](https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/README.md#typing-defaultprops) this should work fine:

[Below example in TypeScript playground](https://www.typescriptlang.org/play/?jsx=2&ssl=18&ssc=2&pln

[2020-03-25 22:28] sw-yx commented on #196
thanks!

[2020-03-25 22:28] #196 closed

[2020-03-25 22:35] sw-yx commented on #199
hey @Miklet ! yes it seems `forwardRef` breaks the inference. you can try using `Partial`:

[code]

[2020-03-25 22:35] sw-yx commented on #199
pls reopen if need more help

[2020-03-25 22:35] #199 closed

[2020-03-25 22:37] sw-yx commented on #190
ah, i didnt know this recommendation had changed. it actually came from @ferdaber. yeah we should tell people both exist. thanks will address.

[2020-03-25 22:43] #190 closed

[2020-03-25 22:44] sw-yx commented on #87
going to close this now since it seems we havent had much complaints on this front after Seb's initial recommendations

[2020-03-25 22:44] #87 closed

[2020-03-25 22:44] ferdaber commented on #190
Ah yeah my bad. I don't even recommend using either nowadays now that TypeScript supports namespace augmentation to functions.

[2020-03-25 22:46] sw-yx commented on #187
@thisconnect you are welcome to PR if you feel the cheatsheet could be improved to help you on this :)

[2020-03-25 22:48] sw-yx commented on #190
no worries man. glad to see you're doing ok :)

[2020-03-26 08:17] Miklet commented on #199
@sw-yx Thank you for your anwser. Cheers.

[2020-03-26 14:47] ElForastero commented on #190
@ferdaber Hi. I'm curious about "namespace augmentation to functions". Can you share some details?) Can't google it. 🤔

[2020-03-26 15:17] ferdaber commented on #190
This change is what documents it, it allows you to assign properties of functions and arrow functions after they're declared and it updates the type of the function. This achieves the same functionality that you would get if you declare a function and a namespace with the same name. https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-1.html#properties-declarations-on-functions

[2020-03-30 03:55] sw-yx commented on #190
yea i believe in general namespaces are on their way out in TS. at least for users, i believe its still relevant in library code.

[2020-04-09 10:33] raulfdm opened #213 "[Meta] Web based Doc site with search"
Hello guys 👋

Just a quick question. Do we want having this amazing handbook in a documentation format? Like in a website with search, using some tool like Docusaurus, Docisify or any kind of markdown > html?

Thanks for having this, it's been really helpeful.

[2020-04-09 16:31] sw-yx commented on #213
hey! yes i have thought of it. but havent made any time to work on it. you're welcome to do it if you think you can take it from start to finish - i mostly just want to focus on content

[2020-04-09 17:02] raulfdm commented on #213
Awesome. I'll investigate and open a PR.

Thanks @sw-yx

[2020-04-14 05:33] hong4rc opened #216 "[Question] featuring react-typescript-cheatsheet in Docusaurus"
https://github.com/facebook/docusaurus/issues/1437

Hello, we would like to feature your project to the [Docusaurus users page](https://docusaurus.io/en/users)?

And can you deploy the document website? (github.io or another your domain)

[2020-04-14 08:14] seivan opened #218 "[HOC] HoC Skeleton template"
**What cheatsheet is this about? (if applicable)**
I was thinking maybe a skeleton/template could be useful for testing purposes. But I am not sure about the types themselves, so I was hoping to get some feedback here.

**What's your issue or idea?**
Simplify the HOC example to make it clear by removing cruft and making it as a starting point.

[code]

More specifically, I'm interested in the corr

[2020-04-14 09:19] eps1lon commented on #216
Sounds awesome!

@sw-yx Wants to setup search with algolia first (https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/pull/214#issuecomment-612989728).

[2020-04-14 09:28] hong4rc commented on #216
Can you ping me (when your project website publish)?

[2020-04-14 09:35] eps1lon commented on #216
Sure.

[2020-04-19 10:00] sw-yx commented on #218
i like this, thank you! may not get around to it right away but if you see a way to PR this in, please do.

[2020-04-19 10:01] sw-yx commented on #216
hey! sorry i have been busy with a personal project. im gonna spend the next couple hours sorting this out, but meanwhile feel free to feature

[2020-04-19 21:57] sw-yx commented on #216
hey folks - docsite is here! needs more work but feel free to link from docusaurus! https://react-typescript-cheatsheet.netlify.app/ cc @wgao19 fyi

[2020-05-05 03:43] seivan commented on #218
@sw-yx Well I'd like to see some holes picked on it first, for starters I found out that calling a component as a function (which I do there)
`return Component(props)`

creates issues with hooks as they will not be associated with  `Component` but be defined under `wrapperComponent` but I want to see what kind of issues that creates, because it doesn't seem to be a problem at runtime and more so i

[2020-05-05 11:25] mjsarfatti commented on #218
@seivan help me understand, is what you are looking for not satisfied by https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/docs/hoc/full-example.md?

Are you suggesting a different approach to the HOC?

[2020-05-05 13:21] sw-yx commented on #218
yeah its hard to make a general purpose skeleton that is also simple. maybe need to identify the most common usecase first before we proceed

[2020-05-05 13:32] seivan commented on #218
@mjsarfatti Well right of the bat:

1. That example doesn't work if you paste it into a sandbox to experiment,

That should be the minimum general purpose starting point.

2. It doesn't show how to infer props from the wrapped component.

You might want the HoC to infer your prop types, and not default to `React.FC` that has implicit children.

3. It hardcodes the props passed to the HoC and later

[2020-05-05 15:02] mjsarfatti commented on #218
Honest question: are there real world use cases where an HOC is _not_ used to inject additional props?

I don't think an example without hard-coded props would be very useful. At the same time I agree we could do a better job at differentiating the "core skeleton" from the specific implementation (in our case the theme props), and explaining what a user should modify at will, and what is to be lef

[2020-05-06 10:16] mikehurl opened #226 "defaultProps to be deprecated"
Re https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/default_props; according to [this tweet](https://twitter.com/dan_abramov/status/1133878326358171650) defaultProps will be deprecated; any chance of an example that uses object default values instead?

[2020-05-06 11:12] mjsarfatti commented on #226
Something like (untested, off the top of my head)

[code]

?

[2020-05-06 14:04] sw-yx commented on #226
@mikehurl happy to take a pr for this to guide people down the right path

[2020-05-06 15:38] hellatan commented on #226
for TypeScript, you'll need to import the `FunctionComponent` (`FC` for short) from react:
[code]

[2020-05-06 16:57] mjsarfatti commented on #226
`React.FC` is not recommended anymore: https://github.com/facebook/create-react-app/pull/8177

[2020-05-06 17:17] hellatan commented on #226
ah, i did not know that @mjsarfatti. Thanks for the clarification!

[2020-05-06 18:37] mikehurl commented on #226
Closing issue as #227 merged

[2020-05-06 18:37] #226 closed

[2020-05-07 06:00] seivan commented on #218
That's the wrong question to ask, the other question is, if someone wanted to figure out how to, does the tutorial do it justice? Not to mention other questions related to it. It doesn't for instance mention valid return types and how hooks would behave.

This differs from my experience where most of the HoCs would amplify a component with additional props and functionality and at most erase a few

[2020-05-07 07:37] xiaoxiangmoe opened #228 "[Advanced] Add readonly for React Props interface"
see https://reactjs.org/docs/components-and-props.html#props-are-read-only

related pr: https://github.com/microsoft/TypeScript-Handbook/pull/1322

[2020-05-07 21:03] sw-yx commented on #218
doesnt look super barebones haha. but hey if you want to PR this in im fine with that.

fwiw, i dont care much about devtools element pollution, mainly bc its easy to filter

[2020-05-07 21:05] sw-yx commented on #228
ah we discussed this one before. fwiw i think a year ago @ferdaber said that the readonly is going to be applied from the `@types/react` side - not sure if that actually happened.

personally i dont think this is a huge deal.

[2020-05-08 00:29] seivan commented on #218
Alright I got what I needed out of this, and I think I figured out how it works with hooks. Thanks!

[2020-05-08 00:29] #218 closed

[2020-05-08 01:13] guilhermedeandrade commented on #213
Hey there @raulfdm 👋

Are you already working on this? If so, could I help you?

[2020-05-08 06:41] raulfdm commented on #213
Hey @guilhermedeandrade .

Well, I worked on the initial website structure. I wrote [here]( https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/pull/214#issuecomment-612468716) what was missing for the website gets complete (translation and search).

It seems that the search func. is already working in place https://react-typescript-cheatsheet.netlify.app/

I'm not sure if there

[2020-05-08 06:47] raulfdm commented on #213
What I see which can be done (maybe @sw-yx has some opinion about this) but since search is working fine:

- README can be cleaned up;
- URL from "web doc" on readme can be updated

[2020-05-08 07:17] sw-yx commented on #213
thanks for offering @guilhermedeandrade! yes feel free to clean up the readme stuff.

i think i didnt like how deeply we broke it up into pieces. causes a lot of clicking around. i prefer the one page experience of scrolling a long page. so i would like to join up pages back together where it makes sense. havent gotten to that yet but feel free to take a crack to see how it feels.

[2020-05-08 07:21] sw-yx commented on #218
added here https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/commit/e0a2a10efe2c5ab52f5edfc8a4afd554080e3700

[2020-05-08 11:59] guilhermedeandrade commented on #213
Thanks for the info, both of you! I will start to work on the readme stuff ASAP

[2020-05-09 22:06] seivan commented on #218
You forgot the mention the caveats of calling the function directly, not to mention why the casts are necessary.
Maybe discuss things before pushing them as suggestion that might be inaccurate or even outright wrong, the reason I posted this was to actually gather information first.

[2020-05-11 16:49] gojutin opened #229 "Docusaurus Site"
I see that you've created a Docusaurus site from this repo. Very cool! I was actually doing something very similar with Docusaurus V2 here: [https://www.tsx.guide/introduction/welcome](https://www.tsx.guide/introduction/welcome)

And the repo: [https://github.com/gojutin/www.tsx.guide](https://github.com/gojutin/www.tsx.guide)

If you see anything on the site that looks like it could be useful, I

[2020-05-11 18:23] sw-yx commented on #229
thanks! are you not maintaining your thing anymore? I havent seen tsx.guide but it looks really cool

[2020-05-11 19:19] gojutin commented on #229
Thanks, I still maintain it and add content to it as I discover new things. I doubt many people have seen it, because I haven't really shared it. It's been more of a personal project so far. I enjoy working on it, and maybe it makes sense to keep it around. But, your guide has definitely been the proverbial shoulder, so I wanted to offer :)

[2020-05-11 19:30] hellatan commented on #229
should these projects combine instead? I know fragmentation can lead to confused users when one doc site does one thing and another does another thing, etc.

[2020-05-11 19:40] sw-yx commented on #229
up to @gojutin.

my commitment here has been pretty light, bc i currently dont work on a React + TS app/alot of this in my head already so i dont actually *use* it as a user that often anymore. happy to have more active maintainers here take leadership.

[2020-05-11 20:24] gojutin commented on #229
I definitely share the sentiment about fragmentation and I’ll be happy to give some thought to how that might work. We are largely delivering the same message, but the content is laid out a bit differently. It’s pretty much apples to apples on the software stack (although I did opt for V2), so that’s potentially a win.

[2020-05-11 21:07] sw-yx commented on #229
happy to go for v2. the docusuaurus maintainers are friends, i can yell at them if we cant figure out something

[2020-05-26 06:02] wgao19 commented on #216
wow this is nice, a solid usage of using Docusaurus as a nodebook other than a doc site, and i think it does make the original content easier to navigate through as well

should definitely showcase this @yangshun

[2020-05-26 06:09] yangshun commented on #216
Thanks for the note @wgao19! Yeah let's do showcase it! @hong4rc mind creating a PR for this?

[2020-05-26 06:25] yangshun commented on #216
Any thoughts against migrating this website to Docusaurus v2? :)

[2020-05-26 15:11] sw-yx commented on #216
none, just havent spent the time yet :) i think we had a volunteer a few days ago

[2020-05-26 15:17] sw-yx opened #231 "[Advanced] TODO: add Webpack rebuild/HMR speed optimizations"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

add some notes on optimization

https://twitter.com/jaredpalmer/status/1265298834906910729/photo/1

https://gist.github.com/jaredpalmer/d3016701589f14df8a3572df91a5754b

[2020-05-26 15:44] yangshun commented on #216
@slorber WDYT about migrating the site to v2 to get familiar with v2?

[2020-05-26 16:28] slorber commented on #216
sure, was about to ask you for a site to migrate ;)

[2020-05-26 22:00] sw-yx commented on #216
@slorber i think our initial implementation broke up the sections too much, it breaks the flow. if it helps, u can consolidate sections back together based on your judgment. if youre not sure then dont worry about it, i can do it when i have time

[2020-05-27 13:47] slorber commented on #216
@sw-yx there's normally no problem in v2 to have multiple levels of nesting, so I'd rather keep the current structure for the migration, and then you make the changes if you feel it's worth to flatten a folder

[2020-05-28 16:01] slorber commented on #229
Hey!

Follow the v2 migration in this draft PR: https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/pull/233

[2020-05-28 16:24] slorber opened #234 "Migrate Website to Docusaurus 2 Alpha"
Hi there! The Docusaurus team is currently developing Docusaurus 2 and are almost done with an MVP that doesn't include translations and versioning features, which means there's feature parity with your website's current usage of Docusaurus.

Docusaurus 2 brings about many improvements:

- Client-side rendering with prerendering (site renders without JavaScript!)
- More flexible appearance - Custo

[2020-05-31 00:58] peterwiebe opened #235 "Useful React Prop Type Example"
`React.ReactNode` doesn't work in this situation

[code]

I get the error: `JSX element type 'Component' does not have any construct or call signatures.ts(2604)`

Instead I use `React.ElementType`

[2020-05-31 11:02] eps1lon commented on #235
Do we document to use `React.ReactNode` in these situations? We have a section documenting to use `React.ElementType`: [Polymorphic Components](https://react-typescript-cheatsheet.netlify.app/docs/advanced/guides/polymorphic_components#docsNav)

[2020-05-31 16:53] sw-yx commented on #235
@peterwiebe  what's the recommendation here? PR welcome to tighten up the example

[2020-05-31 17:00] sw-yx commented on #234
glad to see this coming a long!!! yay!

[2020-06-02 19:58] gojutin commented on #229
Thanks @slorber - I built out [tsx.guide](tsx.guide) with V2, so hopefully I can get it done without much trouble. I just need to find the time to spend on it.

[2020-06-03 11:39] slorber commented on #229
Hi @gojutin.

Actually the D2 migration is already almost complete here: https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/pull/233

https://deploy-preview-233--react-typescript-cheatsheet.netlify.app/

Sorry if you wanted to work on the migration. As I'm ramping up to become a Docusaurus maintainer, @yangshung asked me to migrate this site.

[2020-06-03 12:09] gojutin commented on #229
No problem at all, glad to see it getting done. And congrats on becoming a Docusaurus maintainer. It's a wonderful project. If there is any content that you would like to use from [https://github.com/gojutin/www.tsx.guide](https://github.com/gojutin/www.tsx.guide) , please feel free. I think I will continue to maintain and update it for the time being.

[2020-06-03 12:29] slorber commented on #229
thanks :)

For the content, I'll let @sw-yx decide ;) Only migrated to D2, didn't introduce new content.

[2020-06-03 18:07] sw-yx commented on #229
totally @gojutin we welcome any help we can get. the content still stays we are just migrating the site right now.

[2020-06-07 04:53] lovetingyuan opened #236 "[Question] How to use web component in react jsx with typescript?"
Example:
[code]
`lottie-player` is a web component.
Typescript error: `The attribute "lottie-player" does not exist on type "jsx.Intrinsicelements".Ts (2339).`

[2020-06-07 04:56] lovetingyuan commented on #236
I found a solution:
[code]

[2020-06-07 04:56] #236 closed

[2020-06-07 14:03] sw-yx commented on #236
yup :) i also wrote about them here n

[2020-06-10 03:16] s5s5 opened #238 "[Basic] What does `null!` mean?"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

`const ref1 = useRef<HTMLElement>(null!);`

What does `null!` mean in the code above, and the first time I saw this used, what benefits did he have? Can it be used elsewhere?

[code]

In the above code, why is there no content to the left of the first `|`? this is the code can not write type?

Tha

[2020-06-10 03:25] ferdaber commented on #238
`null!` is a non-null assertion operator (the `!`). It asserts that any expression before it is not `null` or `undefined`, so if you have `useRef<HTMLElement>(null!)` it means that you're instantiating the ref with a current value of `null` but lying to TypeScript that it's not `null`.

[2020-06-10 03:26] ferdaber commented on #238
The TypeScript syntax allows for leading `|` when creating unions:
[code]

[2020-06-10 08:24] sw-yx commented on #238
nice shout, i can explain that better in the cheatsheet

[2020-06-10 08:31] #238 closed

[2020-06-11 01:05] victorias opened #239 "[HOC] HOC Cheatsheet link is broken on some pages"
**What cheatsheet is this about? (if applicable)**

HOC cheatsheet

**What's your issue or idea?**
the link here is broken: https://react-typescript-cheatsheet.netlify.app/docs/advanced/guides/hocs
thought it originally didn't exist but it does, just linked improperly in some places :)

[2020-06-11 22:51] sw-yx commented on #239
yeah, we broke a few links in the big refactor to docusaurus. basically we used to have 4 markdown files, and they were broken up into like 100 files. i would like to go through and re-consolidate them again where they make sense. this would help fix the linking.

[2020-06-29 15:12] djMax commented on #218
Isn't there a bad symbol in that snippet (and the one that's live on the page)? `propsAreEqual` in the React.memo call is an undefined symbol. Is it supposed to be memo?

[2020-06-30 03:21] sw-yx commented on #218
thanks @djMax i merged your PR

[2020-07-03 09:20] sw-yx opened #245 "[Todo] Instructions for How to type an untyped module?"
Instructions for How to type an untyped module?

this is something i put off doing for a LONG time when i orgiinally wrote the guide - but now i know its a hole in this page: https://react-typescript-cheatsheet.netlify.app/docs/basic/troubleshooting/types

lets add a basic "how to type somethign that is untyped" guide here.

open for any takers, or my future self

[2020-07-05 18:36] jlei523 opened #246 "[Question] What type is "dispatch" function from useReducer?"
I didn't find it anywhere in the cheatsheet.

When we create the `dispatch` function from `useReducer`, and pass it around different components, what should its type be?

[2020-07-06 13:44] KitsonBroadhurst opened #247 "[Basic] Typing example for objects with a string id"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

Add an object example to the "Basic Prop Types Examples".

I occasionally find myself in a situation where I have an object which has an `id` of type `string` with lots of varieties, but all have the same value.

e.g.

[code]

I always go here to find the reference and then have to google it and e

[2020-07-09 17:45] sw-yx commented on #247
thanks @KitsonBroadhurst ! yes PR welcome. also dont forget that you can use the official `Record<K,T>` type to do this - i'd actually recommend that as that is fairly idiomatic typescript

[2020-07-10 06:48] PezCoder opened #248 "[Basic] Add documentation for Reducer<state,action> alternative"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

The current cheatsheet suggests a way to write the reducer code like so in the [hooks section](https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/README.md#hooks)
[code]

where the state & the return state is always the same. Luckily `redux` exposes a `Reducer` type

[2020-07-10 17:54] V-Gutierrez commented on #246
I always solve this problem by: instead of expressing the useState Setter/useReducer Dispatch  I usually do a "middleware"  function in provider that receives the newState/new dispatch action and content

In types I only define this function and not what is inside. Yes, it is a hack. I hope it helps..

[2020-07-10 18:17] sw-yx commented on #248
thanks @PezCoder ! i would be happy to add it under a `<details>/<summary>` tag (what you called a dialogue). one caution is that this cheatsheet is designed not to depend on redux so it would be a bit unusual to include a redux dependency here. but i'm fine with it for an elaboration :) PR welcome

[2020-07-10 18:31] sw-yx commented on #246
good first issue :) can always make it clearer

[2020-07-10 21:10] PezCoder commented on #248
Thank you for the quick response @sw-yx

Will work on this tomorrow first thing. 👷

[2020-07-13 12:21] ferdaber commented on #246
If you want to use it inside the component definition, I would just do `typeof dispatch`.

[2020-07-14 15:17] PezCoder commented on #248
Thank you for merging this super quick. I hope we find a solution to sync up the github readme with our website as well.

The guide has been super helpful to me ⭐ since I'm new to the typescript ecosystem & typescript's documentation wasn't enough for me to get started in projects build with react.

[2020-07-14 15:17] #248 closed

[2020-07-14 16:17] sw-yx commented on #248
thanks thats great to hear @PezCoder  :) yeah frankly i just havent made the time to tidy it up and write some basic scripts. if you'd like to tackle it, help is greatly appreciated.

[2020-07-20 13:58] arvindcheenu commented on #245
Hi **@sw-yx**!,

This is my first issue in this repository and would love to contribute.

Worked with untyped modules before while building sites using React, Material UI and Typescript.

I usually use `declare module '${module name}'` in an `index.d.ts` file in the root directory for any of the untyped modules I import as it preserves `noImplicitAny` and `allowJs` options in `tsconfig.json`.

I k

[2020-07-20 14:22] sw-yx commented on #245
@arvindcheenu yes welcome to do it!

i'd also suggest giving some tips on typing an untyped React library - eg. something that exports a component or a hook - how to add typings on to that :)

[2020-07-20 15:33] arvindcheenu commented on #245
Great! I'll work on that. Hope you can give me a couple of days so that I can write a solid.

[2020-07-20 15:47] sw-yx commented on #245
sure thing :) also gotta decide where to put this.. i think probably in the Troubleshooting Handbook

[2020-07-22 13:29] sw-yx opened #253 "[Basic] how to create a wrapper component around a normal HTML element?"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

say i want to create a `Div` component that is a drop in replacement for a `div`, or a `Button` component that is a drop in replacement for `button`. i need to set the props correctly.

currently it looks ugly like this:

[code]

so the qtn is is there a better way to type this? if not, lets docum

[2020-07-23 10:25] deadcoder0904 opened #255 "[Basic] Have a warning on React Functional Component about use of React.FC"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

I made a post on /r/reactjs.

The person said `using React.FC has unintended side effects, you shouldnt use it anymore` & pointed to https://github.com/facebook/create-react-app/pull/8177

So I think it should be mentioned in the basics section :)

[2020-07-23 11:18] eps1lon commented on #255
What do you think is missing from https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/function_components?

[2020-07-23 13:28] deadcoder0904 commented on #255
Oh, I see everything is there, but there can be a statement that says CRA doesn't use it for a reason mentioned in the PR https://github.com/facebook/create-react-app/pull/8177 so it is not recommended a/c to CRA so people will use the 1st definition.

I went for the explicit one because I saw too many React projects with TypeScript use that although I read this cheatsheet but didn't knew the 1st

[2020-07-23 13:50] eps1lon commented on #255
If CRA already copies all the reasons we mention why do we also need to mention CRA? What if they later decide to switch back? It seems to me that it makes more sense to list arguments other than "library X is doing it".

[2020-07-23 15:12] sw-yx commented on #255
i'm with eps1lon. think we cover it, but always welcome PRs to improve the wording and we can discuss wording in the PR.

[2020-07-24 05:38] deadcoder0904 commented on #255
Cool, I worded it poorly. We can just write **Recommended way** in front of the 1st point.

You have definitely copied everything from CRA but CRA is the industry standard for React. Anyone starting a React project knows about CRA so I mean I'd trust it more when you say CRA scaffolds Functional Component with TS like the 1st one or maybe just **Recommended way** is better.

[2020-07-24 05:57] sw-yx commented on #255
SGTM :)

[2020-07-24 08:28] eps1lon commented on #255
The person that proposed the change to CRA made the PR half a year earlier in this repository: https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/pull/104.

If we copy text than we would've added a source.

Furthermore I'd be careful with statements such as "X is the industry standard". I'm not aware of any usage stats comparing next, gatsby and CRA. I highly doubt it since CRA

[2020-07-24 09:53] deadcoder0904 commented on #255
I wouldn't worry that much about it. As anyone who gets started with React definitely uses CRA first as it's in the docs. That's why I said industry-standard. Like if you use Vue, you're gonna start with `vue-cli` or React Native, then you'd start with CRNA.

Cool then, I'll close this one 👍

[2020-07-24 09:53] #255 closed

[2020-07-24 11:22] sw-yx commented on #255
thanks for raising it and thanks for the discussion @eps1lon ! appreciate you all.

[2020-07-29 17:13] sw-yx opened #257 "[Basic] Document how to declare additions to global types"
(this is a very very small todo, note to self)

for troubleshooting handbook, i'd like to explicitly show how people can declare global types eg if they use a 3rd party vendor script which attaches onto `window`:

[code]

[2020-07-31 12:46] StudioSpindle commented on #87
@slikts

I'm having trouble finding the alternative to default props for a functional component.

In the Readme the link to [Martin Hochels article](https://medium.com/@martin_hotell/10-typescript-pro-tips-patterns-with-or-without-react-5799488d6680) mentions you can use **type inference** for a class component.
In [an earlier article by the same author](https://medium.com/@martin_hotell/react-typ

[2020-07-31 15:14] slikts commented on #87
The linter error should be ignored, because destructuring and default values already achieves the same as `.defaultProps`. The linter errors are just rules of thumb that are contextual, and this specific rule doesn't apply in this case.

[2020-08-01 18:53] yashguptaz opened #258 "[Basic] Being explicit about how components consume children may never be always a better stylistic choice."
https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/blob/master/README.md#L182

In my humble opinion, the line,
`it might considered better style to be explicit about components that consume children, anyway.`
is not necessarily a better style, because the only case that I found where returning explicitly is a better stylistic choice is when not using fragments.

I would like to

[2020-08-02 08:12] xiaoxiangmoe commented on #228
@sw-yx Do you mind if I create a PR to add `readonly` to Props?

[2020-08-02 14:03] sw-yx commented on #258
no this is too strong of a recommendation.

appreciate the feedback but i think this one is fine as it is. thank you! keep em coming.

[2020-08-02 14:03] #258 closed

[2020-08-02 14:08] sw-yx commented on #228
@xiaoxiangmoe can you add it as just a suggestion? i dont think it should be the default recommendation as it is not always needed.

[2020-08-02 20:01] sw-yx commented on #245
huge thanks to @arvindcheenu for getting this over the finish line! 🎉  https://github.com/typescript-cheatsheets/react-typescript-cheatsheet/pull/254

Great work Arvind, lmk if you see other issues you want to tackle, i am looking for more maintainers like you

[2020-08-02 20:01] #245 closed

[2020-08-03 03:12] arvindcheenu commented on #245
I would love to contribute in any way I can as I hope to learn more things every step of the way.

On an another note, the README doesn't seem to have been updated though it was in the commit. Is there a problem or shall I create make another PR referencing this?

[2020-08-03 18:25] sw-yx commented on #245
@arvindcheenu  no problem - the README has been manually updated by me for now. honestly we need to make a script to do this.

the reason is historical - we want BOTH a nice docusaurus web-based experience, AND a nice github-only markdown reading experience. docusaurus wants the files inside one folder, whereas github wants the files at root. so we should just maintain a simple copy. a GitHub acti

[2020-08-04 09:53] arvindcheenu commented on #245
First things first, thanks for adding me as a maintainer, @sw-yx ! I'm pumped!

Regarding the manual updation of README, I totally agree that we need an automation in place.

I'll give it a try. Though I've not used Github actions to automate repos before, this will be a good start.

[2020-08-04 13:44] sw-yx commented on #245
@arvindcheenu its a GREAT skill to have :)

steal ideas from this:

- https://github.com/sw-yx/sw-yx/blob/master/.github/workflows/node.js.yml
- https://github.com/sw-yx/sw-yx/blob/master/scrape.js#L22-L40

[2020-08-06 08:48] arvindcheenu commented on #245
@sw-yx  I was offline past couple of days. Just logged in. Have a preliminary understanding of running JS actions and I'm loving it. Gimme some time to work on this.

[2020-08-06 14:20] sw-yx commented on #245
:) great stuff. happy to share this knowledge. i believe its a skill that will last our entire careers

[2020-08-11 09:19] jlei523 commented on #246
Here's how I'm doing it.

[code]

`./reducer.ts`

[code]

[2020-08-11 09:19] #246 closed

[2020-08-15 23:55] Kikketer opened #265 "[Question] Standard `children` property throwing ReactNode is not a constructor for JSX elements"
This has to have been asked for seen before, sorry if it's a repeat.  I'm simply trying to create a hooks component that renders `{children}`.  My original goal was to create a Provider but I've widdled it down to the example you have here: https://react-typescript-cheatsheet.netlify.app/docs/advanced/guides/render_props#docsNav

So I have that example copy/pasted into Card.tsx.

My index.tsx:
[co

[2020-08-16 07:36] sw-yx commented on #265
appreciate you filing. can you place your whole code in one file and put that here? i cannot replicate this: https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQNwCwAUKJLIiutnjACIDyAsnCIlylLgFoAJiVqMsADxbxgAOxhYoBPFjgAFYmHQBvRnDgAbZACMs5gPwAuTFRgA6TvgByESVnoMzXAALYHNJShUnDzdo719-AF85RWh4XAgVVHgAYWQoSTgAXjgACjADVCd9CEMASiKAPjgTALhKGABXKBVS0zM4AB5JYAA3Br7+5vKa1FdLG3M

[2020-08-17 13:07] Kikketer commented on #265
What I did initially was remove the entire return type which worked except of course it was warning me that I wasn't providing explicit return types.  The return type of a `() => ReactNode` makes sense since it's a Hooks/functional component and does actually just return a function that happens to return a ReactNode.

Thanks!

[2020-08-17 13:07] #265 closed

[2020-08-17 13:44] arvindcheenu commented on #245
@all-contributors Please add @arvindcheenu for code, content, documentation and maintenance.

[2020-08-19 13:32] eps1lon opened #268 "[Basic] Document VoidFunctionComponent"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

Once https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46643 is released we should document it as a workaround for the implicit children issue of React.FC.

[2020-08-19 22:51] endquote opened #270 "forwardRef with class component"
The forwardRef sample is helpful, but it would be helpful to have an example with a class component instead of a functional one.

[2020-08-20 10:41] PedroBern opened #271 "[Question] Accept only one child of specific set of types"
## Question

How to have a component that accepts only **one** child, of a specific set of types?

## What I need

To accept one child of one of the following types (React Native):
- Animated.FlatList
- Animated.SectionList
- Animated.ScrollView

## What I have tried

### Attempt 1

[code]

### Attempt 2

[code]

### Result

Either way, my component ends up accepting any kind of Children.

## Bonu

[2020-08-20 12:00] sw-yx commented on #271
I believe @ferdaber worked on your bonus question with Ryan Florence and the conclusion was it couldn't be done yet.

you could view this as a bad thing, but personally I view it as typescript discouraging you from designing implicit/polymorphic apis like this.

i haven't tried it  but for the main question, how about typing children as a tuple - [ReactNode, never] etc

[2020-08-20 12:00] sw-yx commented on #270
thanks. contribs welcome!

[2020-08-20 12:49] ferdaber commented on #271
You can type the structure of your children: just one child, or a tuple of children. The thing you cannot do is specify _which_ component the children are.

The following are valid:
[code]

This, however, will not work the way you want:
[code]

This is because when you write a JSX expression (`const foo = <MyComponent foo='foo' />`), the resultant type is blackboxed into a generic `JSX.Element` ty

[2020-08-20 13:32] endquote commented on #270
Maybe once I figure it out myself...

[2020-08-20 13:33] ferdaber commented on #270
Class components cannot have their refs forwarded.

[2020-08-20 13:49] eps1lon commented on #270
Do you mean a typed example of the final example of https://reactjs.org/docs/forwarding-refs.html#forwarding-refs-in-higher-order-components?

[2020-08-20 14:58] sw-yx commented on #271
@ferdaber just curious, with the new ["jsx runtime" that react 17 is bringing](https://babeljs.io/blog/2020/03/16/7.9.0#a-new-jsx-transform-11154-https-githubcom-babel-babel-pull-11154), any thoughts on whether that might change? the signature looks the same, so i doubt it, but figured its worth flagging to you incase you hadnt already considered it

[2020-08-20 15:05] endquote commented on #270
I'm probably thinking about it the wrong way.

I'm working in an existing codebase which has a component `<View/>` and I'm replacing it with my own implementation, which wraps the existing one.

[code]

This seems ok, but then existing code which uses a ref to it doesn't work:

[code]

If I change it to a class, this error goes away:

[code]

Elsewhere in my project, I have functional components w

[2020-08-20 15:57] ferdaber commented on #271
The JSX runtime I don't think is coming for a while (it's still in the React RFCs phase). I have been monitoring it closely but mostly it will just affect the transpilation semantics on the TypeScript side: a change that will need to be done by their team. The types themselves wouldn't change and unfortunately we also won't get this specific issue fixed because of it :(

[2020-08-20 16:36] sw-yx opened #273 "[todo] make github action run prettier and fix for me"
this is a common blocker

![image](https://user-images.githubusercontent.com/6764957/90799753-426ee080-e346-11ea-9573-0b2feee21d54.png)

i need it to just run it for me and commit the format

[2020-08-20 16:40] sw-yx commented on #271
thanks - @PedroBern pls reopen if any further q's!

[2020-08-20 16:40] #271 closed

[2020-08-20 16:47] #2 closed

[2020-08-20 16:48] #3 closed

[2020-08-20 16:50] sw-yx commented on #8
handled by @arvindcheenu  :) https://github.com/typescript-cheatsheets/react/pull/254

[2020-08-20 16:50] #8 closed

[2020-08-20 16:51] sw-yx commented on #37
done thanks to @slorber :) https://github.com/typescript-cheatsheets/react/pull/233

[2020-08-20 16:51] #37 closed

[2020-08-20 17:27] yangshun commented on #234
I think this is completed

[2020-08-20 17:29] sw-yx commented on #234
indeed. thank you guys!!!!

[2020-08-20 17:29] #234 closed

[2020-08-20 17:39] sw-yx commented on #23
included in https://github.com/typescript-cheatsheets/react/pull/272/

[2020-08-20 17:39] #23 closed

[2020-08-20 17:41] #270 closed

[2020-08-20 18:10] #41 closed

[2020-08-20 18:11] sw-yx commented on #216
@hong4rc  looks like we are good to go :)

[2020-08-20 18:11] #216 closed

[2020-08-20 18:11] #229 closed

[2020-08-20 18:16] sw-yx commented on #213
was done by https://github.com/typescript-cheatsheets/react/pull/264

[2020-08-20 18:16] #213 closed

[2020-08-20 18:17] sw-yx commented on #49
i think useContext made this a lot easier so no need

[2020-08-20 18:17] #49 closed

[2020-08-20 18:25] #97 closed

[2020-08-20 18:30] #247 closed

[2020-08-20 18:30] dance2die commented on #49
Roger that, @sw-yx :)

[2020-08-21 08:50] zaverden commented on #226
@mikehurl I'm trying "alternative approach" from your PR and it does not work for me:
[code]

TS 3.9.7 error message: `Property 'name' is missing in type '{}' but required in type 'GreetProps'.ts(2741)`

Do I need for extra configuration in tsconfig?

BTW, it works good if `name` is optional:
[code]
But I'm not sure if this is a right way

[2020-08-24 09:36] #128 closed

[2020-08-26 17:40] #66 closed

[2020-08-26 17:55] #239 closed

[2020-08-27 18:39] #132 closed

[2020-08-27 18:39] #151 closed

[2020-08-27 18:39] #231 closed

[2020-08-27 18:39] #235 closed

[2020-08-27 22:36] sw-yx commented on #142
@eps1lon the extent of our `//@ts-check` documentation is here - https://react-typescript-cheatsheet.netlify.app/docs/migration/from_js/#manual-js-to-ts-conversion i'm not sure if this is enough, but definitely open to discussing how to teach people to migrate better. honestly i probably just need to go thru some more migrations myself to really feel out how helpful this guide is. i havent done ma

[2020-08-28 12:52] pavloko commented on #128
@sw-yx looks good

[2020-08-28 23:03] sw-yx opened #279 "Notes on Historical React + Types"
- https://github.com/asana/typed-react

[2020-09-10 23:29] allan2 commented on #228
@sw-yx Props are indeed read-only though. It would make sense for it to be the default since it _is_ always the case.

[2020-09-11 07:58] williamrjribeiro opened #283 "A copy-paste example of a basic ErrorBoundary component"
Class components are not very popular anymore so it's a bit hard to recall how to write one in TypeScript. Here's a snippet to be used:

[code]

Maybe it could fit into the corresponding docs section: https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/error_boundaries/

[2020-09-11 09:08] sw-yx commented on #283
thank you! that's exactly where it would go. PR welcome or I'll get around to this sometime

[2020-09-11 09:09] sw-yx commented on #228
I understand. I personally don't like to do it but am happy to mention it as an option. 🤷‍♂️

[2020-09-11 13:40] alexandrudanpop commented on #283
Hi, was also looking at this a bit. A few things worth noting:
1. You can type the `info: ErrorInfo` from `componentDidCatch(error: Error, info: ErrorInfo)`, as it's in the main React type defs:
`import {ErrorInfo} from React`
2. To avoid class components -  would also suggest users to look at - [react-error-boundary](https://github.com/bvaughn/react-error-boundary) - that also has type definition

[2020-09-11 13:58] sw-yx commented on #283
go for it! i like showing both but recommending that people use r-e-b

[2020-09-11 14:35] #283 closed

[2020-09-15 03:04] dance2die opened #290 "[Basic] Add a function component version for Portals example"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

I'd like to suggest a function version of [Portals example](https://github.com/typescript-cheatsheets/react/blob/main/README.md#portals).

We can have it in a collapsed explanation above `Context of Example` as `Using hooks` or words of your choice.

![image](https://user-images.githubusercontent.

[2020-09-15 08:49] sw-yx commented on #290
nice! haven't tried this out yet but makes sense to do it

[2020-09-15 13:00] dance2die commented on #290
Thnx~
I will do a PR for review.

[2020-09-15 22:31] #290 closed

[2020-09-16 09:59] dance2die opened #292 "[Basic] URLs not found in "Troubleshooting Handbook: tsconfig.json" page"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

Page not found for two links in https://react-typescript-cheatsheet.netlify.app/docs/basic/troubleshooting/tsconfig

1. [The new TS docs also has per-flag annotations of what each does. ](https://www.typescriptlang.org/v2/en/tsconfig#allowSyntheticDefaultImports)
1. [ADVANCED](https://react-typesc

[2020-09-16 10:11] dance2die opened #293 "[Basic] Page title should be changed from "Getting Started" to "Bugs in official typings""
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

[Bugs in official typings](https://react-typescript-cheatsheet.netlify.app/docs/basic/troubleshooting/official_typings_bugs) page has a title "Getting Started" instead of "Bugs in official typings".

"Next" section in [tsconfig.json page](https://react-typescript-cheatsheet.netlify.app/docs/basic/

[2020-09-16 12:27] dance2die opened #294 "[HOC] Update Section 1 URL in Section 0 needs to the new URL"
**What cheatsheet is this about? (if applicable)**

HOC cheatsheet

**What's your issue or idea?**

[Section 1 link](https://react-typescript-cheatsheet.netlify.app/docs/hoc/full_example#section-1-react-hoc-docs-in-typescript) in [Section 0: Full HOC Example](https://react-typescript-cheatsheet.netlify.app/docs/hoc/full_example) doesn't direct to the correct page.

![image](https://user-images.git

[2020-09-16 15:54] sw-yx commented on #292
this is great :)

that action might already exist, maybe worth searching around

[2020-09-16 18:55] #293 closed

[2020-09-16 18:56] sw-yx commented on #294
yeah i only put the "Section" names in because it wasnt as clear when reading in markdown. now i think with the site we can drop it.

[2020-09-16 18:59] sw-yx commented on #294
https://github.com/typescript-cheatsheets/react/commit/c557a5a93cd73f238dd716c6b0d47249f1ba170e

[2020-09-16 18:59] #294 closed

[2020-09-16 19:25] dance2die commented on #294
Thanks for the updates, Shawn~

All contributors awesomeness (me === Korean translator for AC :wink: )

[2020-09-18 11:55] kimizuy opened #299 "[Basic] Anchor link "#using-inferred-types" is not found."
URL: https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/hooks/#using-inferred-types

[2020-09-18 21:20] dance2die opened #300 "Making expanded content boundary more prominent"
**What cheatsheet is this about? (if applicable)**

Applies to the whole site

**What's your issue or idea?**

Making un/collapsed content boundary prominent.
It's hard to see where expanded content ends and next section starts.

e.g.) https://i.imgur.com/SEg5oiB.mp4

Reproducing the behavior.

1. Go to https://react-typescript-cheatsheet.netlify.app/docs/advanced/patterns_by_usecase
2. Search for

[2020-09-18 21:31] sw-yx commented on #300
animation is unlikely but feel free to experiment with the borders!

[2020-09-20 14:11] dance2die opened #301 "[Advanced] Collasible content is displayed as a markdown code snippet"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

Indentation in the markdown for `<details>` renders output as a markdown code snippet.

Source: https://raw.githubusercontent.com/typescript-cheatsheets/react/main/docs/advanced/types-react-ap.md
![image](https://user-images.githubusercontent.com/8465237/93713375-71d16280-fb29-11ea-8a49-12fd1c3

[2020-09-21 04:23] sw-yx commented on #253
forgot that i actually resolved this one https://react-typescript-cheatsheet.netlify.app/docs/advanced/patterns_by_usecase/#wrappingmirroring

[2020-09-21 04:23] #253 closed

[2020-09-21 04:23] #301 closed

[2020-09-21 04:25] #299 closed

[2020-09-21 04:25] sw-yx commented on #299
fixed, thx!

[2020-09-21 14:15] virenb opened #303 "[Basic] Table of Contents list formatting issue"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

In the Basic cheatsheet list, believe the 'Section 1: Setup'  and 'Section 2: Basic Troubleshooting Handbook: Types' content is not displaying the way it should be. It appears in a code block, not an unordered list. Provided the below screenshots for reference.

Believe this can be fixed by correc

[2020-09-21 15:05] sw-yx commented on #303
yikes, yeah, we should fix that.

do note that the TOC in the main readme is autogenerated from https://github.com/typescript-cheatsheets/react/tree/main/docs/basic, with @arvindcheenu's code in https://github.com/typescript-cheatsheets/react/blob/main/genReadme.js

[2020-09-21 15:52] arvindcheenu commented on #303
@sw-yx @virenb This was an issue that occasionally occurred during testing the generative code. I'll check and try to rectify it. Any help is much appreciated too!

[2020-09-21 15:57] arvindcheenu commented on #109
@sw-yx my fear and aversion to using typescript with react was conquered thanks to you. Most approachable and beginner friendly free resource out there.

[2020-09-22 02:12] #300 closed

[2020-09-22 12:00] icy0307 opened #306 "[Question] Cannot use extended generic type in React.ComponentClass's props"
React version:
@types/react@16.9.49
@types/prop-types@15.7.3
ts version 4.0.2
## Steps To Reproduce

[code]

Link to code example:

https://www.typescriptlang.org/play?target=1#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wG4BYAKGADsYkpN0k4BBOAbyrh7hQC44NAK4gARgwqUAvlTmVMwmhmAQacTBAgAKMCigoQg5OhgA6AMK5INJHQsAbFAGdnAHlYA+AJSduvIhhhKHU9AxApWUoqRWUYVXUxfTcAFTgkAA96GgATZzZPXX1DY2JzK3A1OxhHF3cUnz9KXg0tIvDvSK

[2020-09-22 14:02] ferdaber commented on #306
This is not supported due to how function parameters are checked. They are checked contravariantly when functions are parameters in higher order functions. See here for a simplified example:
https://www.typescriptlang.org/play?#code/JYOwLgpgTgZghgYwgAgILIN4FgBQz-JwBcyIArgLYBG0uAvrrmAJ4AOKA0gPYWtcgRwAHgAqAPmQBeZAApWULqwDOJEQEopEjMnmKVyEcgY5cMMiARhg-ZAAsuMAIwyEPPgPAluvfoLBDUMQ1sPAIoCDAyKBBkVx8PMHpGH

[2020-09-22 16:51] sw-yx commented on #306
i would also ask what you are actually trying to do with `function foo(param: React.ComponentClass<A>)`?

[2020-09-22 18:51] ferdaber commented on #306
Yeah, it does seem like this is an attempt at making a composition of a higher order component, in which case there are some established conventions to do this that won't throw an error.

[2020-09-24 11:57] kimizuy opened #307 "[Basic] The URL is stale"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

/getting-started/hooks.md

**What's your issue or idea?**

https://www.typescriptlang.org/docs/handbook/advanced-types.html#discriminated-unions

probably:
https://www.typescriptlang.org/docs/handbook/typescript-in-5-minutes-func.html#discriminated-unions

[2020-09-24 15:53] arvindcheenu commented on #307
@swyx @kimizuy You mean to include something like this under the hooks section?
[code]

[2020-09-24 17:11] sw-yx commented on #307
hey arvind! no he just wants us to update the url haha. i can do it but your suggestion is good too!

[2020-09-25 02:30] arvindcheenu commented on #307
well, got a bit excited @sw-yx as. I have been using this for quite sometime right now. Very functional imo. If I am to add this suggestion should I add it to `hooks.md` or should I add to `advanced.md` under the **Using Discriminator Types** section?

[2020-09-25 03:08] sw-yx commented on #307
advanced section please!

[2020-09-25 06:44] arvindcheenu commented on #307
Cool, I'll create a new issue regarding this and work on it.

[2020-09-25 06:47] arvindcheenu opened #308 "[Advanced] On using Discriminator Unions with Hook Dependencies"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

With an example, explain how typescript discriminator unions work with hook dependencies in react.

[2020-09-25 08:46] kimizuy commented on #307
@arvindcheenu @sw-yx Thanks! Next time I'll send you a PR.

[2020-09-27 18:01] dance2die opened #309 "Prevent text selection on summary field"
**What cheatsheet is this about? (if applicable)**

Site-wise change

**What's your issue or idea?**

Prevent text selection on summary field.
Add `user-select: none` on the `<summary>` field.

Expanding summary field results in highlighting text fields, causing attention loss and additional clicking to unselect

Possible implementation

[code]

**Demo**

Difference between `user-select: none` off

[2020-09-27 19:41] sw-yx commented on #309
no strong opinion here... if u like it let's do it

[2020-09-27 20:44] #309 closed

[2020-09-27 22:42] sw-yx commented on #257
i think this is solved

[2020-09-27 22:42] #257 closed

[2020-09-27 22:45] sw-yx opened #311 "[Meta] enable "Edit this page" link"
One of the big barriers to contributing is people dont know where to go to edit or add stuff. So let us enable this: https://docusaurus.io/docs/en/site-config#editurl-string

note that the exact api of this may have changed in docusaurus v2, @slorber can advise maybe.

we also may wish to [hide this edit link on some pages](https://github.com/facebook/docusaurus/pull/2166) where it doesnt make sen

[2020-09-28 08:09] slorber commented on #311
Yes, you should just look for v2 doc page instead :)

https://v2.docusaurus.io/docs/using-plugins#docusaurusplugin-content-blog

There is an edit URL frontmatter too. Not sure it works but it may be helpful to disable the edit URL if you set "", null or undefined? Tell me if this does not work.

https://v2.docusaurus.io/docs/markdown-features#markdown-headers

[2020-09-28 13:07] arpi17 commented on #311
Hi there! I could pick this issue up in the following days if that's okay

[2020-09-30 22:18] #311 closed

[2020-10-02 06:49] arvindcheenu commented on #303
@virenb @sw-yx Fixed the Code Fence Issue and checked the workflow output on the branch. Outputs as expected. I will be closing this issue.

[2020-10-02 06:49] #303 closed

[2020-10-02 18:21] amitrai99 commented on #109
I've started working on React16/TypeScript recently that this guide is invaluable for anyone coming from ES6/React15 background. Thanks a ton for doing such great work.

[2020-10-02 20:31] MarcelReis commented on #63
Why not to use `React.ComponentProps`?

[code]

[2020-10-02 21:06] sw-yx commented on #63
you may be righ!

for reference this is what we currently have https://react-typescript-cheatsheet.netlify.app/docs/advanced/patterns_by_usecase/#props-extracting-prop-types-of-a-component

[2020-10-03 06:33] #308 closed

[2020-10-03 06:37] dwjohnston commented on #273
Yeah I find this a pain too. For this stuff it's easier to just make commits via the web browser, and instead I have to check the whole thing out, npm i, etc.

[2020-10-03 08:18] elit-altum commented on #307
@sw-yx If it is okay, can I fix this?

[2020-10-03 08:29] sw-yx commented on #273
btw might want to try github codespaces, i have one for this repo now

[2020-10-03 08:30] sw-yx commented on #307
@elit-altum its all yours!

[2020-10-03 16:08] #307 closed

[2020-10-03 17:22] elit-altum commented on #292
@sw-yx Please have a look at [this](https://github.com/marketplace/actions/urlchecker-action) and [this](https://github.com/marketplace/actions/url-checker)
If it is okay, we can go ahead and use these actions

[2020-10-04 00:25] sw-yx commented on #292
lets do it! thank you elit

[2020-10-04 17:08] elit-altum opened #327 "[CODE] - Add package-lock to .gitignore"
Upon installing the node modules using ```npm i```, a ```package-lock.json``` file is generated having over 5K lines. Developers may mistakenly commit this file in a PR leading to polluted code.
We can add this to the ```.gitignore``` file to avoid such instances in the future.

I would like to work on this issue.

[2020-10-04 17:09] elit-altum commented on #327
@sw-yx Please review once, if it is okay with you I will proceed to make a PR.

[2020-10-04 18:15] sw-yx commented on #327
sure

[2020-10-05 06:10] elit-altum opened #328 "[BASIC] - Fix or suggest alternates for stale markdown links"
After the initial processing for stale markdown links using github actions added in https://github.com/typescript-cheatsheets/react/pull/326, the following links were found stale and non-existent:

FILE: ./docs/migration/index.md
https://devchat.tv/js-jabber/jsj-277-dojo-2-dylan-schiemann-kitson-kelly/ → Status: 404

FILE: ./docs/basic/troubleshooting/ts-config.md
https://www.typescriptlang.org/v2

[2020-10-05 06:11] elit-altum commented on #328
@sw-yx Please have a look. I think this one will take some time. Might add the triage label.

[2020-10-05 12:57] #327 closed

[2020-10-05 15:46] sw-yx commented on #328
appreciate it! leaving this open to hacktoberfest folks if they see it

[2020-10-05 16:50] #292 closed

[2020-10-05 20:21] sw-yx opened #333 "[meta] Recognize Contributors on our landing page"
we've been addding contributors for a while (eg https://github.com/typescript-cheatsheets/react/pull/332)

but i havent really done much to recognize them on our docsite. I'd love to add links and faces to people! someone take this and propose however you want to do it if you wish

[2020-10-07 06:42] chinesedfan commented on #328
Closed by #331.

[2020-10-07 10:38] #328 closed

[2020-10-07 13:29] forever85222 opened #336 "https://talk.vasanthv.com/fekt6v"

[2020-10-07 13:44] #333 closed

[2020-10-08 13:32] mtorkashvand opened #338 "[Basic] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

_Write here_

**(If applicable) Reproduction of issue in TypeScript Playground**

_[start with the basic TS + React template](https://www.typescriptlang.org/play/?jsx=2&esModuleInterop=true&q=222#example/typescript-with-react)_

[2020-10-08 14:28] #338 closed

[2020-10-08 20:31] alraziqij opened #339 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2020-10-09 04:32] hafeezkhan56 opened #340 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2020-10-09 04:33] hafeezkhan56 opened #341 "[Basic] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

_Write here_

**(If applicable) Reproduction of issue in TypeScript Playground**

_[start with the basic TS + React template](https://www.typescriptlang.org/play/?jsx=2&esModuleInterop=true&q=222#example/typescript-with-react)_

[2020-10-09 04:33] hafeezkhan56 opened #342 "[Question] QUESTION_TITLE_HERE"
**(If applicable) Reproduction of issue in TypeScript Playground**

_[start with the basic TS + React template](https://www.typescriptlang.org/play/?jsx=2&esModuleInterop=true&q=222#example/typescript-with-react)_

[2020-10-09 04:33] hafeezkhan56 opened #343 "[HOC] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

HOC cheatsheet

**What's your issue or idea?**

_Write here_

[2020-10-09 04:33] hafeezkhan56 opened #344 "[Migrating] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Migrating cheatsheet

**What's your issue or idea?**

_Write here_

[2020-10-09 05:17] daddyzilla33 opened #345 "[Migrating] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Migrating cheatsheet

**What's your issue or idea?**

_Write here_

[2020-10-09 05:18] dance2die commented on #344
Hi @hafeezkhan56 Are you trying to learn how to create issues?
I see 4 issues created without real content.

Pinging @sw-yx

[2020-10-09 05:18] daddyzilla33 opened #346 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2020-10-09 07:57] #340 closed

[2020-10-09 07:57] #344 closed

[2020-10-09 07:57] #346 closed

[2020-10-09 07:58] #345 closed

[2020-10-09 07:58] #343 closed

[2020-10-09 07:58] #342 closed

[2020-10-09 07:58] #341 closed

[2020-10-09 08:27] dance2die commented on #344
Can you block the user @eps1lon or only @sw-yx has the perm?

[2020-10-09 08:40] eps1lon commented on #344
You can't block people from repos. You can only report them but I don't think that's worth it.

[2020-10-09 08:47] dance2die commented on #344
https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/blocking-a-user-from-your-organization lists blocking user from an organization.

[2020-10-09 09:01] eps1lon commented on #344
Right, for org repos you can do that but not personal repos. I don't think there's a point. Closing the issues should've been enough of a signal.

[2020-10-09 09:27] sw-yx commented on #344
i have blocked

[2020-10-12 18:22] sw-yx opened #349 "[meta] what people search for on algolia"
heres the weekly search report for algolia: https://mail.google.com/mail/u/0?ui=2&ik=6d767dea4e&view=lg&permmsgid=msg-f%3A1680368881170459402&ser=1

![image](https://user-images.githubusercontent.com/6764957/95778599-0d09c200-0cfb-11eb-9811-c32a0cd6dcdf.png)

![image](https://user-images.githubusercontent.com/6764957/95778609-109d4900-0cfb-11eb-82c9-7171ce056ace.png)

we could use this to come up

[2020-10-20 17:30] pomle opened #357 "React.ReactNode allows passing {} as children which will crash at runtime"
In https://github.com/typescript-cheatsheets/react#useful-react-prop-type-examples it says
[code]

ReactNode produces a false positive type check for `{}`.

React version: 16.14

## Steps To Reproduce

1. Create a new CRA project with TypeScript using for example `yarn create react-app repro --template typescript`
2. Accept a prop using `React.ReactNode` as type in default App component.
[code]

3

[2020-10-20 18:07] sw-yx commented on #357
damn fantastic point. do you have an idea for alternative recommendation for typing children?

[2020-10-21 06:45] pomle commented on #357
@sw-yx, I am trying to figure out where this problem comes from still.

Correct me if I am wrong; this repo assumes types are derived from DefinitelyTyped?

Then, either this recommendation is wrong.

But it is possible that the type `ReactNode` from https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L239 is wrong.

It inherits `{}` from type `ReactFragment`. I w

[2020-10-21 07:12] sw-yx commented on #357
well FYI the recommendation comes from me when I was learning R+TS so it's def not official. and as for the typing and whether they could be better, this is a @ferdaber and @eps1lon issue. I bet this has been raised before and we might learn something here about why React.Fragment has to accept the invalid {}.

[2020-10-21 07:29] pomle commented on #357
Gotcha! Found the open issue at https://github.com/DefinitelyTyped/DefinitelyTyped/issues/37596

Thanks for giving more context. I will keep this open until I understand more about the problem @DefinitelyTyped.

The next steps from me will be:
* See if we can do something non-breaking to improve typing React nodes.
* See if we can do a breaking change.
* Recommend an alternate type from this repo

[2020-10-21 07:35] sw-yx commented on #357
very reasonable. we can also leave a small warning to others in our notes, as a simple first step.

[2020-10-21 08:56] pomle commented on #357
@sw-yx, absolutely. You know best what the readers will benefit from.

[2020-10-21 18:45] #86 closed

[2020-10-21 18:59] #80 closed

[2020-10-22 18:06] sw-yx commented on #187
think we have addressed this well here https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/hooks/#useref

[2020-10-22 18:06] #187 closed

[2020-10-27 14:57] sw-yx commented on #130
ok it's morphed into https://github.com/threehams/typescript-error-guide/ by @threehams. I'm gonna need help to merge whatever useful ideas they have into [the Troubleshooting Handbook](https://github.com/typescript-cheatsheets/react/tree/main/docs/basic/troubleshooting) in the basic section.

opening for contributors!

[2020-10-28 01:37] kafinsalim opened #361 "Invalid Join official discord link in https://react-typescript-cheatsheet.netlify.app"
Join official discord button link in https://react-typescript-cheatsheet.netlify.app is invalid (https://discord.gg/wTGS5z9)

[2020-10-28 10:05] sw-yx commented on #361
ty! will fix

[2020-10-28 10:23] #361 closed

[2020-11-03 00:25] #142 closed

[2020-11-04 00:29] #279 closed

[2020-11-06 10:13] ChristySchott opened #362 "[Basic] Is there a Portuguese version already? I would like to do the translation, how to proceed?"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

I would like to do the translation into Portuguese

**(If applicable) Reproduction of issue in TypeScript Playground**

_[start with the basic TS + React template](https://www.typescriptlang.org/play/?jsx=2&esModuleInterop=true&q=222#example/typescript-with-react)_

[2020-11-06 17:59] sw-yx commented on #362
hey! there is no portuguese version that I am aware of. if you want you can create your own repo and i will point to you, or if you would like to use this org, i have opened a repo for you: https://github.com/typescript-cheatsheets/react-pt let me know which you prefer!

[2020-11-08 00:13] sw-yx commented on #362
tagging @giselamd who is also interested in helping!

[2020-11-10 10:09] xiaoxiangmoe commented on #228
1

[2020-11-10 10:13] sw-yx commented on #228
happy to take a PR but personally I won't be recommending specifying readonly for props.

[2020-11-10 10:13] #228 closed

[2020-11-12 06:44] sw-yx opened #366 "[Advanced] Extract lessons from Bloomberg"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

https://www.techatbloomberg.com/blog/10-insights-adopting-typescript-at-scale/

[2020-11-12 20:23] jperasmus commented on #57
Another alternative to using the type casting for this: `const MyArrayComponent = () => Array(5).fill(<div />) as any as JSX.Element`, is to use a fragment.

[code]

[2020-11-20 11:58] sw-yx opened #367 "[Advanced] update with Typescript 4.1 notes"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

4.1 is out: https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/

would be nice to have help updating the TS version notes with a quick summary!

[2020-11-21 23:52] sw-yx commented on #306
@icy0307 did you resolve your issue? feel free to reopen if no

[2020-11-21 23:52] #306 closed

[2020-11-24 17:42] jiraphonwansai2002 opened #368 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2020-11-24 17:43] #368 closed

[2020-12-02 19:09] #63 closed

[2020-12-02 19:10] sw-yx commented on #63
@MarcelReis that was an excellent suggestion, thank you. i found our prior existing docs too complex for the common usecase, however Ferdy above is right that there are proptypes and defualtprops edge cases to consider if you want a fully reliable solution. i've opted for linking to this issue rather than bombarding our readers with complex utils right off the bat.

[2020-12-11 13:23] kakaru1331 opened #376 "[Basic] content duplication"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

<b>content duplication</b>

There are two identical subheading, <b>Types or Interfaces?</b>.
And following contents are almost the same.
I think It is better to be deduplicated.
I'd appreciate it if you could consider it for the next reader. :)

**(If applicable) Reproduction of issue in TypeScrip

[2020-12-11 15:08] sw-yx commented on #376
yeah we should fix that

[2020-12-11 19:54] primozs opened #377 "JSX Transform"
With the new JSX Transform
https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html

and removing of
```import React from 'react';```

How can one also remove the import if you need it for types:

[code]

Is it possible to define the React types globally?
Cheers

[2020-12-11 21:24] sw-yx commented on #377
thanks for asking the qtn :) yes, it is possible, but it is not a code style that is encouraged by the React team, so out of respect to them i will not recommend it.  however you can figure it out if you look at the docs on Globals :) https://react-typescript-cheatsheet.netlify.app/docs/basic/troubleshooting/non_ts_files/

[2020-12-11 21:24] #377 closed

[2020-12-11 21:24] sw-yx commented on #349
boo stalebot why dont you make a PR

[2020-12-11 21:46] primozs commented on #377
thx

[2020-12-12 03:43] kakaru1331 commented on #376
<b>Time to Really Learn TypeScript</b>
It is the same case.
Good Luck!

[2020-12-16 15:06] buuug7 opened #378 "[Advanced] The **Intersection Types** section of README.md is not work with latest React and TypeScript"
The **Intersection Types** section of README.md is not work with latest React and TypeScript.

The document show below:

[code]

my Button component:

[code]

the error is :

[code]

when i change the props type to below, it work well

[code]

[2020-12-16 17:48] devinrhode2 opened #379 "[Question] Should we be using React.FunctionComponentElement type?"
I am just trying to figure out what's a good strategy for the return types of functional react components that return jsx. I'm not a fan of everything being typed as `JSX.Element`. I did find that `React.FunctionComponentElement` requires some generics to be passed in, which seems like it might be something we want to use, but not sure.

[2020-12-16 18:50] hellatan commented on #379
You should be able to type your function components like this:

[code]

`FC` is shorthand for `FunctionComponent`.

Is that what you're looking for?

[2020-12-16 19:05] sw-yx commented on #379
what @hellatan  said

[2020-12-16 20:45] devinrhode2 commented on #379
This is great, that makes perfect sense, it's just `FunctionComponent` :)

What should be the return type of `MyComponent`?

And how would we type `<MyComponent prop1={'foo'} prop2={'bar'} />`? Is it the same as the return type of `MyComponent`?
[code]
What should these `JSX_DIV` and `JSX_MYCOMPONENT` types be?

[2020-12-16 20:50] devinrhode2 commented on #379
I'm thinking JSX_MYCOMPONENT might be some sort of `React.FunctionComponentElement` only a few hours in and this jsx typing stuff feels like a super massive black hole

[2020-12-16 21:15] sw-yx commented on #379
`JSX.Element` - try to use the TS playground to make it easier to communicate and help you https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQNwCwAUI7hAHarwCyAngMImRWWVjABcmKjAB0AMV4AeZK24A+OAF44ACgDecMMTABGADT7DAJjgBfcUu4BKcQCkAygA0pAUQA2WEMLw6mo6jHDhcCzs8M6oAB4AIsAAbhpw8gAmKSo6BhDG1nC5ltbyAPRZySphEZQwAK5QrHCxiSmM1oyMWHGQsJFsHHCuWFEZADJYyVg+-OBsgeLYeNJyispqmlpOLR

[2020-12-17 16:08] hellatan commented on #379
by using `FC`/`FunctionComponent`, that type is already returning a `ReactElement`. You don't need to add an actual return type like you have outlined with ` FC<Props> = (): JSX_MYCOMPONENT` - that is redundant.

That's one great thing (of many!) about TypeScript is that you can create a type that has both the arguments and the return type in one value so you don't always have to declare both with

[2020-12-18 11:21] sw-yx opened #381 "[Advanced] Enforcing documentation in a design system"
a nice tip from Mark dalgleish: https://twitter.com/markdalgleish/status/1339863859469955072?s=20

I have no idea where to put this, let me know if you have an idea

[2020-12-20 18:18] #357 closed

[2020-12-20 18:27] sw-yx commented on #357
added the warning as it is unlikely to be resolved for now

[2020-12-25 16:31] O4epegb commented on #167
This example actually gives and error with TS 4.1.3 when you pass ref to the component:

[Link](https://www.typescriptlang.org/play?skipLibCheck=true&target=99#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQLABQ9wAdjFlAXlnAEICuMMCEwAKxMOiwAPVkwAm6APIhgMADwApAMoANAHQBJFlGapguAKIAbLCCwtUAbTIAjfoKZkAugBpylAmQAfHAA3vRwcAAW-gD8AFxwvHJYBMxYsvQAvowsbBy4XACCTLiR0KIQ4nBSMvJwSioaOgZGJmZWNnYwjmTIXr4UKUGh4VH

[2020-12-25 20:41] vinicius77 commented on #362
Hey,

I am not sure if it can aggregate any value but I have already translated the `CONTRIBUTING.md` and adapted the `GLOSSARY.md` file.

They are in this [pull](https://github.com/typescript-cheatsheets/react-pt/pull/2) request. Please feel free to check it and let me know if they need some changes / corrections. I am always glad to help. :)

Happy Xmas everybody!  🎄

[2020-12-26 02:32] sw-yx commented on #167
havent had a chance to look but fix welcome

[2020-12-26 02:34] sw-yx commented on #362
whoo! nice, added you to the repo :) feel free to take lead, it takes time for people to take ownership.

[2020-12-26 11:42] O4epegb commented on #167
So I've tried to hack some things, seems like it works, but maybe there is a better way to type it?

[Link](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQNwCwAUIzAJ5hZwBCArjDBADsACsTDoAvHABSAZQAaAOgCSAmFGADUwXAFEANlhBZVqANpkARr34CyAXTgAyOAG9GcOAAtKBAPwAuOG4BABMsAg0sEPoGAF9GZjYOAEEBXE9oEQgxOElZRRU1DS1dAyMTc2R7J1d3Lx9A1CKBAHMY+KYGAHouuAARCCx0AQh4AHdoAGs4Amg4VBI

[2020-12-29 01:41] sw-yx commented on #167
great submission! im not spending any time to validate this right now, but i'll update the docs if anyone else does. thank you!

[2020-12-29 01:46] sw-yx commented on #130
i have updated https://github.com/typescript-cheatsheets/react/blob/main/docs/basic/troubleshooting/learn-ts.md

[2020-12-29 01:46] #130 closed

[2020-12-29 19:11] GiselaMD commented on #362
Thanks guys!

I'll be creating some Issues [here](https://github.com/typescript-cheatsheets/react-pt/issues) so we can start assigning some tasks and avoid translating the same thing 😄
Happy new year! 🍾

[2020-12-29 19:43] sw-yx commented on #362
woohoo happy new year!

[2020-12-31 10:10] mencnert opened #386 "[Basic] Duplicated sections"
Sections  "Types or Interfaces?" and "Useful React Prop Type Examples" are included two times

see:
https://github.com/typescript-cheatsheets/react#types-or-interfaces
https://github.com/typescript-cheatsheets/react#types-or-interfaces-1

https://github.com/typescript-cheatsheets/react#useful-react-prop-type-examples
https://github.com/typescript-cheatsheets/react#useful-react-prop-type-examples-1

[2020-12-31 23:12] #386 closed

[2021-01-18 08:59] #366 closed

[2021-01-24 07:31] rajivpunjabi opened #388 "[Basic] useRef Hook Documentation."
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

According to the documentation useRef Hook has two options.

[code]

The first option will make `ref1.current` read-only. But after trying out some examples I feel there are some issues. As it shows MutableRefObject for the first option. So `ref1.current` is not read-only.

I am exploring TypeScri

[2021-01-24 17:27] sw-yx commented on #388
very nice issue! clearly we are wrong in our useRef notes.

i think @ferdaber might have some insight as to why `MutableRefObject` is inferred in that example. however based on this I am inclined to change our documented example to the one in your playground `const ref2 = React.useRef<HTMLSpanElement>(null);`

[2021-01-24 17:28] #367 closed

[2021-01-24 22:21] rajivpunjabi commented on #388
According to [useRef Hook Type Documentation.](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/4fada2f2413cfc421a9373b407e253adee73a30d/types/react/v16/index.d.ts#L1028)

[code]

From Playground.
[code]

These ref matches the first two type definitions.

- For ref1 we are defining the initialValue as not null ( non-null assertion operator ) so it matches the first type and returns a Mutabl

[2021-01-25 16:41] sw-yx commented on #388
ok so check out this example though: ([playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcARFDvmQNwCwAUI1gB6SxwAmWByArgBtCfAHb5gEEXACyATwDCJSCKwiYACgCUcAN6M4cXJNTxKBAIxwAvJiowAdH1RZsBADwAJACrSAMgBFgADcAUQEsEFUYAD51EUEBAEJNGjgAejSZPhhkACNw1wB5XIArLHx9Q2NTHgAma1s8BycXHk8fAOCwiKjY+IEBFPTMotLymErsJsdnEIICcfUta2jdSoMjEVQIcPsBCABzdTNze1w+KEo1e2ARFShvPxT14bgvWTAsAGV

[2021-01-26 07:20] rajivpunjabi commented on #388
If the goal is not to require null checks then its absolutely correct but stating ref1.current will be read-only is wrong. As it is a MutableRefObject so it is not read-only.

[2021-01-26 22:41] sw-yx commented on #388
alright :)

[2021-01-26 22:49] sw-yx commented on #388
i made those tweaks here: https://github.com/typescript-cheatsheets/react/pull/389/files , lmk if any changes but otherwise thank you for the feedback :)

[2021-01-27 13:54] Arkalex commented on #376
Actually there's a lot of content duplicated, if is fine for you, I'll try to take a look and solve some of them!

[2021-01-27 23:52] #388 closed

[2021-02-02 21:19] sw-yx commented on #376
i've fixed some of them, but please feel free to fix more if you find them!! thank you!

[2021-02-14 18:47] #273 closed

[2021-02-15 23:37] bochen2014 commented on #388
would this be more explanatory?

[code]

[2021-02-17 00:42] #349 closed

[2021-02-20 09:51] #381 closed

[2021-02-20 09:54] sw-yx commented on #388
@bochen2014 i dont feel strongly about this code sample 🤷🏽

[2021-02-20 09:55] sw-yx commented on #379
closing as stale

[2021-02-20 09:55] #379 closed

[2021-02-21 11:28] sw-yx commented on #378
hey @buuug7, this should work:

[code]

hope that helps and thanks for raising the issue!

[2021-02-21 11:33] #378 closed

[2021-03-06 03:36] #167 closed

[2021-03-07 18:36] #362 closed

[2021-03-11 12:13] christopher-francisco commented on #165
Say I wanted to type this, I'm trying the following with no luck:

[code]

It won't compile saying
[code]

What am I missing

[2021-03-11 16:49] sw-yx commented on #165
@christopher-francisco it would make it easier to help you if you provided a ts playground for us to repro

[dont use React.FC](https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/function_components/) :)

try the advice in https://react-typescript-cheatsheet.netlify.app/docs/advanced/misc_concerns/#namespaced-components

[2021-03-16 07:43] eps1lon opened #395 "Token for danger spellcheck is invalid"
E.g. in https://github.com/typescript-cheatsheets/react/pull/394 `yarn danger ci` fails with https://github.com/typescript-cheatsheets/react/runs/2119490930#step:8:16:
[code]

On `main` `yarn danger ci` fails silently: https://github.com/typescript-cheatsheets/react/runs/2119510577?check_suite_focus=true#step:8:9

[2021-03-16 07:47] eps1lon commented on #395
@sw-yx How did you generate the token? Can I do this as well and if so: how? I can take a look why it fails even when the credentials are "good" and why the action run still passes in those scenarios (it should fail IMO).

[2021-03-17 01:09] sw-yx commented on #395
hey! i actually didn't generate it, @orta did when he PR'ed this in :) i think he was [using his own token](https://danger.systems/guides/getting_started.html#setting-up-an-access-token) - lets see if he sees this, if not we will have to figure out a solution...

[2021-03-17 16:19] mikew commented on #57
Yeah kind of shocked to see anything that advocates for typescript also recommending throwing in `as any as ...`.

[2021-04-03 23:16] #376 closed

[2021-04-07 00:10] Godspowerogun opened #401 "[Question] QUESTION_TITLE_HERE"
**(If applicable) Reproduction of issue in TypeScript Playground**

_[start with the basic TS + React template](https://www.typescriptlang.org/play/?jsx=2&esModuleInterop=true&q=222#example/typescript-with-react)_

[2021-04-07 05:26] #401 closed

[2021-04-11 04:32] #109 closed

[2021-04-15 00:49] priscilaandreani opened #403 "[Basic] Hooks: useState type"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**
Idea

instead of:
[code]

you can use:
[code]

(of course if IUser is an object)

its always great to start the state using its initial format

[2021-04-15 03:15] Godspowerogun opened #404 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2021-04-15 07:16] #404 closed

[2021-04-16 17:31] #403 closed

[2021-04-16 17:32] sw-yx commented on #403
thanks @priscilaandreani, i've added this comment now! https://github.com/typescript-cheatsheets/react/blob/main/docs/basic/getting-started/hooks.md#usestate

[2021-04-20 01:51] bozdoz commented on #86
I think I finally got a working version of this:

[TS Playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wG4AocpAD0ljmADsYkpN0k4B1YGACwAqfJCCQAFHGADOcAN7k4cfiKQAuOFJhQmAc3IBfSpgCujDMAiM4Ad16DhogDwK4AYTg0WjACYzk6GAA6V1xIRiRmAQBPMCRHfwxg0MsImAkIaUdXAD44ADJuOyEVdOlsgBoXZCkIABsANyRvUpkAXjgAKQBlAA1AgBlgACMoFCgogFkURhQdJoBBGC1h4xYpLPK4AHkQXnjiIJDwFOYWrIq4AGskKIhMQv5i

[2021-04-23 21:33] sw-yx commented on #86
nice work @bozdoz  - if you spot a way to add it back to the main docs to help others, please be my guest, this is a shared thing

[2021-04-28 15:43] neo opened #410 "[Question] Limit children to be a specific component"
So if I want to define `children` (or any other prop) to take only a specific component (that I make), is it possible?

An example would be if I have a list component and an item component, and list should only accept an array of the item component...

Thank you!!

[2021-04-28 21:17] sw-yx commented on #410
not possible, sorry. https://twitter.com/ryanflorence/status/1085745787982700544 let me know if you find otherwise

[2021-04-29 03:54] neo commented on #410
what a sad conclusion... 😭  thank you for pointing out tho!

[2021-04-29 03:54] #410 closed

[2021-04-30 07:50] thien-do commented on #388
@sw-yx I think we should not encourage the usage of bypassing null checking here. The reason is that check is valid in real life, because the developer may forget to assign the ref to an element in his render:

[code]

This actually may be pretty common when the "ref" element is conditionally rendered

@sw-yx would you mind if I have a PR to clarify this more?

[2021-04-30 13:28] ChrisCrossCrash opened #411 "[Basic] Most recent "github-actions" commit un-fixed my correction"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

I made a [correction to the `useRef` section](https://github.com/typescript-cheatsheets/react/commit/fc7273a787536bfbc79dd5688f0d0cbadb79b818) a couple weeks ago. Now, the most recent "github-actions" commit un-fixed that correction I made. What gives?

[2021-04-30 23:41] sw-yx commented on #388
haha nice example @thien-do. yes PR welcome

[2021-05-01 06:56] thien-do commented on #388
@sw-yx totally understand. In fact, I don't want to add any more use cases, but want to simplify the usage there :D

Anyway, I think code speaks better so I made a PR for you to review: https://github.com/typescript-cheatsheets/react/pull/412 :D

[2021-05-03 18:16] sw-yx commented on #411
thanks Chris :) i have no idea why GH actions did that.. sounds like some kind of merge conflict.. but anyway we just did a major shift to the useref section #412

[2021-05-03 18:16] #411 closed

[2021-05-13 05:43] ankitchouhan1020 opened #415 "Another way of defining default Props"
[code]

In some cases, we might want to have multiple types in a default prop. This option gives the flexibility to assign both types.
Also, it checks for defaultProp type validation.

[2021-05-13 15:54] sw-yx commented on #415
like this? https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/default_props/#typing-defaultprops

[2021-05-14 12:50] ankitchouhan1020 commented on #415
Yes, but here we are defining DefaultProps explicitly. Not an issue, just another way of doing this.

[2021-05-14 12:50] #415 closed

[2021-05-14 13:48] sw-yx commented on #415
i'll add a small note :) thank you!

[2021-05-16 22:00] bsitruk commented on #23
Hi,

Is `$ElementProps` still relevant ?
Isn't `React.ComponentProps` doing the same job ?

Thanks

[2021-05-23 17:54] #395 closed

[2021-05-29 15:29] Anmolreshi opened #421 "Effects in footer of website on hovering over links."
Hi !
Kindly assign me this issue , I would like to work on hovering effect of footer links to pages .

[2021-05-29 16:33] sw-yx commented on #421
go for it!

[2021-05-29 20:14] lucaslove opened #422 "mikacrace@ gmail"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

_Write here_

**(If applicable) Reproduction of issue in TypeScript Playground**

_[start with the basic TS + React template](https://www.typescriptlang.org/play/?jsx=2&esModuleInterop=true&q=222#example/typescript-with-react)_

[2021-05-29 20:17] #422 closed

[2021-05-29 20:55] lucaslove opened #424 "[Basic] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**
Finding location
Basic cheatsheet

**What's your issue or idea?**
Get location from mikacrace@gmail.com
_Write here_

**(If applicable) Reproduction of issue in TypeScript Playground**

_[start with the basic TS + React template](https://www.typescriptlang.org/play/?jsx=2&esModuleInterop=true&q=222#example/typescript-with-react)_

[2021-05-29 21:16] #424 closed

[2021-05-30 03:52] Anmolreshi commented on #421
Thank you ! could you help me to know where you footer file is ?I am unable to find it @sw-yx

[2021-05-30 16:04] sw-yx commented on #421
here - https://github.com/typescript-cheatsheets/react/blob/main/website/docusaurus.config.js#L91 but to tweak the CSS you may need to edit https://github.com/typescript-cheatsheets/react/blob/main/website/src/css/custom.css

[2021-05-31 15:17] Anmolreshi commented on #421
Thank you

[2021-06-19 11:08] 1337-ishaan opened #431 "[Advanced] Working on the UI of Contributors page"
Please assign me this issue, where I want to work of the UI of https://react-typescript-cheatsheet.netlify.app/docs/contributors, this section.

[2021-06-19 18:37] Avivhdr opened #432 "[Basic] Context - Basic Example"
**What cheatsheet is this about?**

Basic cheatsheet

**What's your issue or idea?**

Not sure if it's known but the basic example in the Context page has a TS error (because the context can be null):

![image](https://user-images.githubusercontent.com/23265867/122652160-a6685e00-d13d-11eb-8e5a-20e120a28404.png)

I solved this using the syntax in the [extended-example](https://react-typescript-che

[2021-06-20 12:25] eps1lon commented on #431
@1337-ishaan Thanks for the initiative. Could you clarifiy what you're proposing here?

[2021-06-20 12:29] 1337-ishaan commented on #431
Better contributors cards styling

[2021-06-20 12:33] eps1lon commented on #431
Feel free to work on that. Be sure to explain what problems the improved design solves when proposing the change.

[2021-06-20 13:00] 1337-ishaan commented on #431
Noted @eps1lon, thank you.

[2021-06-25 16:27] valtism opened #433 "forwardRef example has error in TypeScript"
[code]

The code from https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/forward_and_create_ref/ on forwardRef has the error `'children' is missing in props validation` based on the `react/propTypes` ESLint rule https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md

This rule says it validates on prop-types typing, as well as TS types. I am n

[2021-06-26 07:55] eps1lon commented on #433
Thanks for the feedback. This sounds like a bug in eslint-plugin-react. Please report this issue on [their repository](https://github.com/yannickcr/eslint-plugin-react)

[2021-06-26 07:55] #433 closed

[2021-06-28 21:29] mayank99 opened #434 "[Basic] Example of indexed access types"
**What cheatsheet is this about?** Basic cheatsheet

**What's your idea?**

I recently came across the need for accessing a specific property from a type ([indexed access types](https://www.typescriptlang.org/docs/handbook/2/indexed-access-types.html)).

[code]

It took me a _lot_ of searching and playing around to learn that this was even possible. And this cheatsheet (which is normally very help

[2021-06-28 23:29] sw-yx commented on #434
thanks! any suggestion of where you'd expect to find this info?

[2021-06-28 23:29] sw-yx commented on #432
fix welcome :) no time to look at this right now

[2021-06-29 12:53] mayank99 commented on #434
Maybe under `The Types I need don't exist!`? As long as it's searchable, I think it should be ok

[2021-06-29 17:39] sw-yx commented on #434
ok :) contributions welcome otherwise i wont get to this right away myself

[2021-07-01 11:19] elismountain opened #435 "[Basic] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

_Write here_

**(If applicable) Reproduction of issue in TypeScript Playground**

_[start with the basic TS + React template](https://www.typescriptlang.org/play/?jsx=2&esModuleInterop=true&q=222#example/typescript-with-react)_

[2021-07-01 15:09] #435 closed

[2021-07-07 10:53] zedream opened #437 "This appears to be a syntax error and will not compile"
![image](https://user-images.githubusercontent.com/45782249/124747227-4d2d6680-df54-11eb-85df-789248b57908.png)
![image](https://user-images.githubusercontent.com/45782249/124747383-70f0ac80-df54-11eb-8913-dc8cc694fe53.png)
help~ QAQ

[2021-07-08 05:40] #437 closed

[2021-07-17 02:06] youngjuning opened #441 "[Question] Can I translate into Chinese (for a fee)"
I would like to translate this repository into Chinese and post it in the [掘金](https://juejin.cn/books) technical community (paid booklet). Can I get a license for it.

[2021-07-22 03:28] Neo42 commented on #441
Why is it that they created and have been maintaining this _for free for years_ but you are out here asking for a licence to make money for translating it? Unbelievable.

[2021-07-22 04:44] #441 closed

[2021-07-28 13:18] yuvalshim opened #444 "Typing Generic forwardRefs"
The docs missed how to implement Component with generic types when using `forwardRef`.

So I really recommend to adding this article:
https://fettblog.eu/typescript-react-generic-forward-refs/

[2021-08-06 17:30] #421 closed

[2021-08-09 04:24] sw-yx commented on #444
PR welcome!

[2021-08-16 20:33] megha-nandiwal commented on #444
Recruiting Javascript and Typescript Developers Reachout at megha.n@vamstar.io

[2021-08-19 08:48] darkowic commented on #87
We found a little bit of casting here to be a good compromise. Obviously, if you don't need defaultProps, the best is to use what Sebastian has suggested (we need this to generate docs).
[code]

[2021-08-30 12:18] kelvin9314 commented on #444
i have been created a pull request for this, Thanks

[2021-09-04 02:48] #432 closed

[2021-09-04 21:43] #434 closed

[2021-09-18 04:56] GOWTHAM-VARMA-DANTHULURI opened #452 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2021-09-18 07:45] #452 closed

[2021-09-20 14:57] Corn68 opened #454 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2021-09-21 11:44] adabusra opened #457 "Format Code"
You must shift + alt + f run

https://github.com/typescript-cheatsheets/react/blob/c7ca726c5d6452b6eb50fce435151463a6cf632a/website/src/pages/users.js#L19

[2021-09-21 12:28] eps1lon commented on #457
Could you elaborate who must do that and why?

[2021-09-22 07:35] Joemitchell36 opened #459 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2021-09-27 08:18] #459 closed

[2021-10-01 09:10] adabusra commented on #457
I'm sorry I wasn't descriptive enough. I just recommended to run format document.

[2021-10-01 09:20] eps1lon commented on #457
Should be fixed by https://github.com/typescript-cheatsheets/react/pull/458

[2021-10-01 09:20] #457 closed

[2021-10-06 10:13] MikkelHansenAbtion opened #462 "[Basic] TOC contains section 2 twice"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

The [Readme.md](https://github.com/typescript-cheatsheets/react/blob/main/README.md) table of contents contains a duplicate of 'Section 2: Getting Started' and all subsections.
The duplicate should be removed.

[2021-11-06 02:47] #444 closed

[2021-12-14 11:40] #462 closed

[2022-02-09 22:01] Armas0n opened #483 "Class Properties example do not work correctly (Class components section)"
Hi there!
Preamble to class properties code example said:

Seems like it is not the case nowadays. TS raise an error `TS2564: Property 'pointer' has no initializer and is not definitely assigned in the constructor.`

[TS Playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wFgAoCtAGxQGc64BBMMOJADxiQDsATRsnQwAdAGFckHrxgAeAN4U4cEEgYoA5kgBccOjCjAeGgNwUAvgD44i8sshHuU

[2022-03-02 16:53] r-i-c-h opened #487 "useFetch() issue: error as unknown"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

The `useFetch` hook as listed on [the cheatsheet](https://react-typescript-cheatsheet.netlify.app/docs/basic/useful-hooks/#usefetch) has an issue where the `catch(error){}` is unhappy because within the catch clause, it is of type `unknown`.

**(If applicable) Reproduction of issue in TypeScript P

[2022-03-04 16:29] MGLSIDE opened #488 "粉红战黄鹅"

[2022-03-04 17:03] #488 closed

[2022-03-09 08:25] RinatValiullov opened #490 "[Basic] Broken link in the content"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

_Broken link at the paragraph about [useEffect](https://github.com/typescript-cheatsheets/react#useeffect)_ in the _Basic Cheatsheet Table of Contents_

[2022-03-09 09:54] orta commented on #490
Happy to take a PR on it 👍🏻

[2022-03-09 15:26] RinatValiullov commented on #490
@orta

Done [PR #492](https://github.com/typescript-cheatsheets/react/pull/492#issue-1164085992)

[2022-03-31 12:24] HelpMe-Pls opened #494 "[Basic] Duplicated sections"
First of all, I very much appreciate this wonderful cheatsheet that you've put together.
It has been a very throughout and informative documentation for the community.
However, if I may suggest an improvement to make it just a little more succinct, I can see that there are some kind of overlap between these duplicated sections:

1. [Time to Really Learn TypeScript](https://github.com/typescript-ch

[2022-04-11 06:39] eps1lon opened #495 "Review with React 18 types in mind"
We had some [type-related breaking changes with React 18](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56210) that were supposed to fix long standing issues. If we describe these issues here, reference React 18 types that fix those issues.

- [x] explicit children (https://github.com/typescript-cheatsheets/react/pull/510)
- [ ] useCallback implicit any
- [ ] this.context is unknown
- [

[2022-04-11 08:24] LukasKalbertodt commented on #495
In particular, [the guide](https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/function_components) also mentions that `React.FC` is discouraged. The main reason against it seems to be the implicit `children`. But this has changed with 18.0.0, so I wonder if `FC` is still discouraged. The remaining reasons against it seem rather minor?

[2022-04-13 21:20] filiptammergard commented on #495
I created https://github.com/typescript-cheatsheets/react/pull/496 before I saw this. Let me know if you want to handle it in another way or feel free to just close the PR.

[2022-04-13 21:34] filiptammergard commented on #495
The other place that came to mind was the section "Small `React.ReactNode` edge case" here: https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/basic_type_example/#useful-react-prop-type-examples. Created a PR for that as well: https://github.com/typescript-cheatsheets/react/pull/497

But I'm not sure how you would like to convey this, so just let me know if you have other i

[2022-04-13 21:40] filiptammergard commented on #495
The main reason behind `React.FC` being discouraged might be gone, but there are still some smaller problems remaining and no real benefits with using it. Even though `React.FC` might not need to be discouraged as much, I still wouldn't encourage using it.

[2022-04-14 16:20] Corn68 opened #498 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2022-04-17 17:36] #498 closed

[2022-04-18 03:04] #483 closed

[2022-04-19 21:56] sw-yx commented on #483
sorry i didnt get round to addressing this yet, let me know if you have a better suggestion and PR it in!

[2022-04-19 22:03] sw-yx commented on #495
hey @filiptammergard really appreciate the comments! I just invited you to help maintain this repo :)

i've personally never used React.FC so never engaged in that debate but let me know if the consensus shifts :) all i care about on that topic is just to give a concise summary of the tradeoffs if you choose ot use it

[2022-04-19 22:03] sw-yx commented on #494
agreed.. need some help to clean those up if you would like

[2022-04-19 22:04] sw-yx commented on #490
merged

[2022-04-19 22:04] #490 closed

[2022-04-19 22:12] #487 closed

[2022-04-21 12:28] me2cy opened #500 "[Advanced] ISSUE_TITLE_HERE"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

[2022-04-23 09:49] #500 closed

[2022-05-30 07:14] Sebastian-Nielsen commented on #271
@sw-yx , this issue was created 2 years ago, do you happen to know if it is still not possible? Are they at least considering supporting this?

[2022-05-30 14:00] RemyMachado opened #508 "[Advanced] Props: Pass One ONLY IF the Other Is Passed - memoized arrow function"
**What cheatsheet is this about? (if applicable)**
Props: Pass One ONLY IF the Other Is Passed

Advanced cheatsheet

**What's your issue or idea?**

I'm struggling to make it work with an **arrow function** component using `React.memo`.

here's the component declaration:
[code]

I'm getting the following error for `Props2` that defines additional props:

[2022-06-04 12:58] eps1lon opened #513 "Update Table of Contents"
The current ToC contains redundant information. The sections itself have incorrect headings (e.g. it starts with an h1 after we already had h2 and h3)

[2022-06-06 09:17] #494 closed

[2022-06-09 08:50] RemyMachado commented on #508
Thank you for the solution!

[2022-06-09 09:09] RemyMachado commented on #508
I'm not sure how I'm supposed to use the variant. If I'm omitting the additionalProp:
[code]

I'm getting:
`Property 'additionalProp' is missing in type '{ foo: string; bool: true; }' but required in type '{ bool: true; additionalProp: never; }'.`

[2022-06-09 12:27] RemyMachado commented on #508
Making the `additionalProp` an `optional never` is working on my side. Which error did you encounter?

---

Yes, it's not ideal.

Yes, it would work, but I really wanted to learn a way to do it with destructuration.

---
Thank you for these solutions!

[2022-06-09 12:27] #508 closed

[2022-06-09 14:00] sw-yx commented on #508
thanks Remy!

[2022-06-11 18:22] RinatValiullov opened #524 "[Basic] Broken link in the content"
What cheatsheet is this about? (if applicable)

Basic cheatsheet

What's your issue or idea?

Broken link at the paragraph about [useEffect / useLayoutEffect](https://github.com/typescript-cheatsheets/react#useeffect---uselayouteffect) in the Basic Cheatsheet Table of Contents

[2022-06-11 20:02] #524 closed

[2022-06-11 20:09] filiptammergard opened #526 "README header broken"
Since https://github.com/typescript-cheatsheets/react/commit/95f4169372f9f48f81fbad71eafccb71e8a5e4e5, the README header is broken:

<img width="885" alt="image" src="https://user-images.githubusercontent.com/44197016/173203308-2f10b091-97ba-4c89-afd5-019f677a0731.png">

[2022-06-12 15:28] #526 closed

[2022-07-23 00:08] stevemoser opened #533 "[Basic] Edit this page button doesn't work"
**What cheatsheet is this about? (if applicable)**

Basic cheatsheet

**What's your issue or idea?**

[Edit this page](https://github.com/typescript-cheatsheets/react/tree/main/docs/contributing.md) link doesn't work on [contributing | React TypeScript Cheatsheets](https://react-typescript-cheatsheet.netlify.app/docs/contributing/)

[2022-07-23 06:15] skarthikeyan96 commented on #533
to clarify the edit button should point to this link https://github.com/typescript-cheatsheets/react/blob/main/CONTRIBUTING.md correct ? @stevemoser

[2022-07-23 10:49] skarthikeyan96 commented on #533
@sw-yx why are we ignoring `contributors.md` and `contributing.md` file ?. Upon investigation `Edit page` in `contributors.md` is also pointing to the wrong file.

[2022-07-27 19:25] scvsoft-javierrotelli opened #537 "[Advanced] Children typing section is outdated"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**
since TS 2.3 it is posible to [type children components](https://www.typescriptlang.org/docs/handbook/jsx.html#children-type-checking), making the following section outdated:
https://react-typescript-cheatsheet.netlify.app/docs/advanced/patterns_by_usecase/#typing-children

Thanks for the great